<!DOCTYPE html>
<html>
  {% load static %}
  {% load humanize %}
  <head>
    <title>Single Post Page</title>
    <link rel="icon" href="{% static 'resources/favicon.ico' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href={% static "resources/css/axure_rp_page.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "data/styles.css" %} type="text/css" rel="stylesheet"/>
    <link href='{% static "files/post_detail/styles.css" %}?{% now "U" %}' type="text/css" rel="stylesheet"/>
    <script src={% static "resources/scripts/jquery-3.2.1.min.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.js" %}></script>
    <script src={% static "resources/scripts/axure/globals.js" %}></script>
    <script src={% static "resources/scripts/axutils.js" %}></script>
    <script src={% static "resources/scripts/axure/annotation.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.std.js" %}></script>
    <script src={% static "resources/scripts/axure/doc.js" %}></script>
    <script src={% static "resources/scripts/messagecenter.js" %}></script>
    <script src={% static "resources/scripts/axure/events.js" %}></script>
    <script src={% static "resources/scripts/axure/recording.js" %}></script>
    <script src={% static "resources/scripts/axure/action.js" %}></script>
    <script src={% static "resources/scripts/axure/expr.js" %}></script>
    <script src={% static "resources/scripts/axure/geometry.js" %}></script>
    <script src={% static "resources/scripts/axure/flyout.js" %}></script>
    <script src={% static "resources/scripts/axure/model.js" %}></script>
    <script src={% static "resources/scripts/axure/repeater.js" %}></script>
    <script src={% static "resources/scripts/axure/sto.js" %}></script>
    <script src={% static "resources/scripts/axure/utils.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/variables.js" %}></script>
    <script src={% static "resources/scripts/axure/drag.js" %}></script>
    <script src={% static "resources/scripts/axure/move.js" %}></script>
    <script src={% static "resources/scripts/axure/visibility.js" %}></script>
    <script src={% static "resources/scripts/axure/style.js" %}></script>
    <script src={% static "resources/scripts/axure/adaptive.js" %}></script>
    <script src={% static "resources/scripts/axure/tree.js" %}></script>
    <!-- <script src={% static "resources/scripts/axure/init.temp.js" %}></script> -->
    <script src={% static "resources/scripts/axure/legacy.js" %}></script>
    <script src={% static "resources/scripts/axure/viewer.js" %}></script>
    <script src={% static "resources/scripts/axure/math.js" %}></script>
    <script src={% static "resources/scripts/axure/jquery.nicescroll.min.js" %}></script>
    <script src={% static "data/document.js" %}></script>
    <script src={% static "files/post_detail/data.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'resources/reload.html' %}"; };
    </script>
  </head>
  <body style="width: 95%">
  {% load humanize %}
    <div id="base" class="">

      {% include "home/../global_components/navbar.html" %}
      <div id="u553" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u570" class="ax_default button" onclick="window.location.href='{{prev_page}}'">
        <div id="u570_div" class=""></div>
        <div id="u570_text" class="text ">
          <p><span>⮜ Back</span></p>
        </div>
      </div>

      <!-- Post Title -->
      <div id="u571" class="ax_default heading_1">
        <div id="u571_div" class=""></div>
        <!-- <input id="u571_input" name="post_title" type="text" value="{{ post.title }}"/> -->
        <div id="u571_text" class="text ">
          <p><span>{{ post.title }}</span></p>
        </div>
      </div>

      <!-- Post editor -->
      <div id="u572" class="ax_default heading_1">
        <div id="u572_div" class=""></div>
        <div id="u572_text" class="text ">
          <p><span>Post by: {{ post.user }}</span></p>
        </div>
      </div>

      <!-- Post created_at -->
      <div id="u573" class="ax_default heading_1">
        <div id="u573_div" class=""></div>
        <div id="u573_text" class="text ">
          <p><span>Created at: {{post.created_at}}</span></p>
        </div>
      </div>

      <!--views counter -->
      <div id="u574" class="ax_default heading_1">
        <div id="u574_div" class=""></div>
        <div id="u574_text" class="text ">
          <p><span>👁 {{ post.views }}</span></p>
        </div>
      </div>
          <!-- comments counter -->
      <div id="u584" class="ax_default heading_1">
        <div id="u584_div" class=""></div>
        <div id="u584_text" class="text ">
          <p><span>🗨 {{ comments|length }}</span></p>
        </div>
      </div>

      <!-- a line -->
      <div id="u575" class="ax_default line">
        <img id="u575_img" class="img " src={% static "images/single_post_page/u575.svg" %}/>
        <div id="u575_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u576" class="ax_default button">
        <div id="u576_div" class=""></div>
        <div id="u576_text" class="text ">
          <p><span>⯅</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u577" class="ax_default button">
        <div id="u577_div" class=""></div>
        <div id="u577_text" class="text ">
          <p><span>⯆</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u578" class="ax_default heading_1">
        <div id="u578_div" class=""></div>
        <div id="u578_text" class="text ">
          <p><span>{{post.upvotes}}</span></p>
        </div>
      </div>


      <!-- post content:(desc) -->
      <div id="u579" class="ax_default paragraph">
        <div id="u579_div" class=""></div>
          <!-- <textarea id="post_content_area"></textarea> -->
        <div id="u579_text" class="text ">
            <p id="post_content">{{post.desc}}</p>
        </div>
      </div>

      {% if request.user == post.user %}
        <!-- PreviewButton (Rectangle) -->
        <div id="post_content_preview" class="ax_default button" data-label="PreviewButton" onclick="togglePostPreview()">
          <div id="post_content_preview_div" class=""></div>
          <div id="post_content_preview_text" class="text ">
            <p><span>Preview</span></p>
          </div>
        </div>
        <!--  only can edit when the browsing user is the one who created the post  -->
        <div id="u639" class="ax_default label" onclick="togglePostEdit()">
          <div id="u639_div" class=""></div>
          <div id="u639_text" class="text ">
            <p><span>✒️Edit</span></p>
          </div>
        </div>
        <div id="save_post" class="ax_default label" onclick="saveModifiedPost()">
          <div id="save_post_div" class=""></div>
          <div id="save_post_text" class="text ">
            <p><span>Save</span></p>
          </div>
        </div>
        <form method="post" action="{% url 'forum-delete' post.id %}">
          {% csrf_token %}
          <!-- Unnamed (Rectangle) -->
          <div id="u640" class="ax_default label">
            <div id="u640_text" class="text "></div>
            <input type="submit" id="u640_div" class="" value="🗑 Delete">
          </div>
        </form>
      {% endif  %}

      <!-- a line -->
      <div id="u580" class="ax_default line">
        <img id="u580_img" class="img " src={% static "images/single_post_page/u575.svg" %}/>
        <div id="u580_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <!-- Unnamed (Rectangle) -->
      <div id="u581" class="ax_default box_1">
        <div id="u581_div" class=""></div>
          <div id="u641" class="ax_default button" onclick="toggleCommentPreview()">
            <div id="u641_text" class="text ">
              <p><span>Preview</span></p>
            </div>
          </div>
          <!-- comment text area -->
          <div id="u582" class="ax_default text_area">
            <form id="u582_input" class="u582_input" method="post" action="{% url 'add-comment' post.id %}">
                {% csrf_token %}
                <div id="u618" class="ax_default text_area">
                    <div id="u618_div" class=""></div>
                    <textarea name="comment_content" id="u618_input" class="u618_input" placeholder="Enter your comment"></textarea>
                </div>
                <div id="u619" class="ax_default button">
                    <div id="u619_text" class="text ">
                        <input type="submit" value="✉ Post" style="background-color: transparent; border: none;"/>
                    </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    <div id="u621" class="ax_default" data-left="203" data-top="785" data-width="670" data-height="103"></div>
    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        const INITIAL_TOP_POS = 185;
        const PADDING = 55;
        const MIN_TOP_POS = 275;
        let postContentContainer = document.getElementById("post_content");
        let postContent = postContentContainer.innerHTML;

        let tempTitleText = document.getElementById("u571_text");
        let tempPostContent = document.getElementById("u579_text");

        postContentContainer.innerHTML = marked(postContentContainer.innerHTML);
        let postTextHeight = postContentContainer.getBoundingClientRect().height;
        let bottomSeparator = document.getElementById("u580");
        let commentPanel = document.getElementById("u581");
        bottomSeparator.style.top = Math.max(INITIAL_TOP_POS + postTextHeight + PADDING, MIN_TOP_POS)  + "px";
        commentPanel.style.top = bottomSeparator.offsetTop + PADDING - 30 + "px";

        const COMMENT_INITIAL_TOP_POS = commentPanel.offsetTop + 200;

        let comments = [];
        {% for comment in comments %}
            comments.push({
                "user": "{{ comment.user }}",
                "content": `{{ comment.desc }}`,
                "createdAt": "{{ comment.created_at | naturaltime }}",
                "upvotes": {{ comment.upvotes }}
            });
        {% endfor %}

        let currentTop = COMMENT_INITIAL_TOP_POS;
        let mainContainer = document.getElementById("u621");
        const COMMENT_PADDING = 20;
        for (let i = 0; i< comments.length; i++) {
            let comment = comments[i];
            let panel = createCommentPanel(i, currentTop,
                comment["user"], comment["content"], comment["createdAt"], comment["upvotes"]);
            currentTop += COMMENT_PANEL_DEFAULT_HEIGHT + COMMENT_PADDING;
            mainContainer.appendChild(panel);
        }

        /* Ajust the size of the panel and positions of the components inside each panel */
        let preHeightOffset = 0;
        for (let i = 0; i < comments.length; i++) {
            let commentContentContainer = document.getElementById(`comment_content_container_${i}`);
            let textParagraph = document.getElementById(`comment_content_${i}`);
            let textHeight = textParagraph.getBoundingClientRect().height;
            let optimalHeight = Math.max(COMMENT_CONTENT_DEFAULT_HEIGHT, textHeight);
            let heightDiff = optimalHeight - COMMENT_CONTENT_DEFAULT_HEIGHT;
            let container = document.getElementById(`comment_${i}`);
            let containerDiv = document.getElementById(`comment_div_${i}`);

            if (preHeightOffset > 0) {
                container.style.top = container.offsetTop + preHeightOffset + "px";
            }

            if (heightDiff > 0) {
                preHeightOffset += heightDiff;
                container.style.height = COMMENT_PANEL_DEFAULT_HEIGHT + heightDiff + "px";
                containerDiv.style.height = COMMENT_PANEL_DEFAULT_HEIGHT + heightDiff + "px";

                let upvoteButton = document.getElementById(`comment_upvote_${i}`);
                let downvoteButton = document.getElementById(`comment_downvote_${i}`);
                let upvotesLabel = document.getElementById(`comment_upvotes_label_${i}`);
                let replyButton = document.getElementById(`comment_reply_button_${i}`);
                let timeLabel = document.getElementById(`comment_time_${i}`);

                let componentsList = [upvoteButton, downvoteButton, upvotesLabel, replyButton, timeLabel];
                componentsList.forEach(component => {
                    component.style.top = COMPONENT_DEFAULT_TOP + heightDiff + "px";
                });
            }
        }
        activateTab();

        function saveModifiedPost() {
            let currentUrl = new URL(window.location.href);
            let titleEditor = document.getElementById("title_field");
            let contentEditor = document.getElementById("post_content_area");
            currentUrl.searchParams.set("new_title", titleEditor.value);
            currentUrl.searchParams.set("new_content", contentEditor.value);
            window.location.href = currentUrl.toString();
        }

        function togglePostEdit() {
            let editButtonText = document.getElementById("u639_text");
            let isPostEditMode = editButtonText.innerText.localeCompare("Cancel") == 0;
            let previewButton = document.getElementById("post_content_preview");
            let titleContainer = document.getElementById("u571");
            let contentContainer = document.getElementById("u579");
            let deleteButton = document.getElementById("u640");
            let saveButton = document.getElementById("save_post");

            if (isPostEditMode) {
                previewButton.style.display = "none";
                let titleEditor = document.getElementById("title_field");
                titleContainer.removeChild(titleEditor);
                titleContainer.appendChild(tempTitleText);

                let contentEditor = document.getElementById("post_content_area");
                contentContainer.removeChild(contentEditor);
                contentContainer.appendChild(tempPostContent);

                deleteButton.style.display = "flex";
                saveButton.style.display = "none";
                editButtonText.innerHTML = "✒️Edit";
            } else {
                previewButton.style.display = "flex";

                let titleEditor = document.createElement("input");
                titleEditor.id = "title_field";
                titleEditor.name = "post_title";
                titleEditor.value = tempTitleText.innerText;

                titleContainer.removeChild(tempTitleText);
                titleContainer.appendChild(titleEditor);

                let contentEditor = document.createElement("textarea");
                contentEditor.id = "post_content_area";
                contentEditor.name = "post_content_field";
                contentEditor.style.height = postTextHeight + 25 + "px";
                contentEditor.value = postContent;

                contentContainer.removeChild(tempPostContent);
                contentContainer.appendChild(contentEditor);

                activateTab();
                deleteButton.style.display = "none";
                saveButton.style.display = "flex";
                editButtonText.innerHTML = "Cancel";
            }
        }
    </script>
    <script src={% static "resources/scripts/axure/ios.js" %}></script>
  </div>
  </body>
</html>
