<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Home Page</title>
    <link rel="icon" href="{% static 'resources/favicon.ico' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href={% static "resources/css/axure_rp_page.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "data/styles.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "files/index/styles.css" %} type="text/css" rel="stylesheet"/>
    <script src={% static "resources/scripts/jquery-3.2.1.min.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.js" %}></script>
    <script src={% static "resources/scripts/axure/globals.js" %}></script>
    <script src={% static "resources/scripts/axutils.js" %}></script>
    <script src={% static "resources/scripts/axure/annotation.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.std.js" %}></script>
    <script src={% static "resources/scripts/axure/doc.js" %}></script>
    <script src={% static "resources/scripts/messagecenter.js" %}></script>
    <script src={% static "resources/scripts/axure/events.js" %}></script>
    <script src={% static "resources/scripts/axure/recording.js" %}></script>
    <script src={% static "resources/scripts/axure/action.js" %}></script>
    <script src={% static "resources/scripts/axure/expr.js" %}></script>
    <script src={% static "resources/scripts/axure/geometry.js" %}></script>
    <script src={% static "resources/scripts/axure/flyout.js" %}></script>
    <script src={% static "resources/scripts/axure/model.js" %}></script>
    <script src={% static "resources/scripts/axure/repeater.js" %}></script>
    <script src={% static "resources/scripts/axure/sto.js" %}></script>
    <script src={% static "resources/scripts/axure/utils.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/variables.js" %}></script>
    <script src={% static "resources/scripts/axure/drag.js" %}></script>
    <script src={% static "resources/scripts/axure/move.js" %}></script>
    <script src={% static "resources/scripts/axure/visibility.js" %}></script>
    <script src={% static "resources/scripts/axure/style.js" %}></script>
    <script src={% static "resources/scripts/axure/adaptive.js" %}></script>
    <script src={% static "resources/scripts/axure/tree.js" %}></script>
    <!-- <script src={% static "resources/scripts/axure/init.temp.js" %}></script> -->
    <script src={% static "resources/scripts/axure/legacy.js" %}></script>
    <script src={% static "resources/scripts/axure/viewer.js" %}></script>
    <script src={% static "resources/scripts/axure/math.js" %}></script>
    <script src={% static "resources/scripts/axure/jquery.nicescroll.min.js" %}></script>
    <script src={% static "data/document.js" %}></script>
    <script src={% static "files/index/data.js" %}></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'resources/reload.html' %}"; };
    </script>
  </head>
  <body>
    <div id="base" class="">
      {% if user_agent.is_mobile == False %}
      {% include "home/../global_components/navbar.html" %}
      {% else %}
      {% include "home/../global_components/navbar_multidevice.html" %}
      {% endif %}
      <div id="u11" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u28" class="ax_default box_2">
        <div id="u28_div" class=""></div>
        <div id="u28_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u29" class="ax_default box_3">
        <div id="u29_div" class=""></div>
        <div id="u29_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u30" class="ax_default heading_1">
        <div id="u30_div" class=""></div>
        <div id="u30_text" class="text ">
          <p><span>Popular Problems</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u31" class="ax_default box_1">
        <div id="u31_div" class=""></div>
        <div id="u31_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u32" class="ax_default image">
        <img id="u32_img" class="img " src={% static "images/index/u32.png" %}/>
        <div id="u32_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u33" class="ax_default heading_1">
        <div id="u33_div" class=""></div>
        <div id="u33_text" class="text ">
          <p><span>Revision Progress</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u34" class="ax_default heading_1">
        <div id="u34_div" class=""></div>
        <div id="u34_text" class="text ">
          <p><span>Haskell</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u35" class="ax_default heading_1">
        <div id="u35_div" class=""></div>
        <div id="u35_text" class="text ">
          <p><span>Java</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u36" class="ax_default image">
        <img id="u36_img" class="img " src={% static "images/index/u32.png" %}/>
        <div id="u36_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u37" class="ax_default button selected" selectiongroup="Post order">
        <img id="u37_img" class="img " src={% static "images/index/u37.svg" %}/>
        <div id="u37_text" class="text ">
          <p><span>Most upvotes</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u38" class="ax_default button" selectiongroup="Post order">
        <img id="u38_img" class="img " src={% static "images/index/u38.svg" %}/>
        <div id="u38_text" class="text ">
          <p><span>Newest</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u39" class="ax_default line">
        <img id="u39_img" class="img " src={% static "images/index/u39.svg" %}/>
        <div id="u39_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u40" class="ax_default box_1">
        <div id="u40_div" class=""></div>
        <div id="u40_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u41" class="ax_default box_1">
        <div id="u41_div" class=""></div>
        <div id="u41_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u42" class="ax_default box_1">
        <div id="u42_div" class=""></div>
        <div id="u42_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u43" class="ax_default heading_1">
        <div id="u43_div" class=""></div>
        <div id="u43_text" class="text ">
          <p><span>Choose a topic to start practicing</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <a href="all_problems_page?cat=Dynamic Programming">
        <div id="u44" class="ax_default button category_button">
          <div id="u44_div" class=""></div>
          <div id="u44_text" class="text ">
            <p><span>Dynamic Programming</span></p>
          </div>
        </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="all_problems_page?cat=Recursion">
        <div id="u45" class="ax_default button category_button">
          <div id="u45_div" class=""></div>
          <div id="u45_text" class="text ">
            <p><span>Recursion</span></p>
          </div>
        </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="all_problems_page?cat=Control Flow">
        <div id="u46" class="ax_default button category_button">
          <div id="u46_div" class=""></div>
          <div id="u46_text" class="text ">
            <p><span>Control Flow</span></p>
          </div>
        </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="all_problems_page?cat=Concurrency">
        <div id="u47" class="ax_default button category_button">
          <div id="u47_div" class=""></div>
          <div id="u47_text" class="text ">
            <p><span>Concurrency</span></p>
          </div>
        </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="all_problems_page?cat=Divide and Conquer">
        <div id="u48" class="ax_default button category_button">
          <div id="u48_div" class=""></div>
          <div id="u48_text" class="text ">
            <p><span>Divide and Conquer</span></p>
          </div>
        </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="all_problems_page?cat=Tree">
        <div id="u49" class="ax_default button category_button">
          <div id="u49_div" class=""></div>
          <div id="u49_text" class="text ">
            <p><span>Tree</span></p>
          </div>
       </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <div id="u50" class="ax_default button" onclick="window.location.href = 'random_problem'">
        <img id="u50_img" class="img " src={% static "images/index/u50.svg" %}/>
        <div id="u50_text" class="text ">
          <p><span>🎲</span></p><p><span>Jump into a random</span></p><p><span>question</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u51" class="ax_default button" onclick="window.location.href = 'past_papers_page'">
        <img id="u51_img" class="img " src={% static "images/index/u50.svg" %}/>
        <div id="u51_text" class="text ">
          <p><span>🗏</span></p><p><span>Warm up with a past</span></p><p><span>paper</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u52" class="ax_default box_1">
        <div id="u52_div" class=""></div>
        <div id="u52_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u53" class="ax_default button" onclick="continueQuestion()">
        <img id="u53_img" class="img " src={% static "images/index/u50.svg" %}/>
        <div id="u53_text" class="text ">
          <p><span>ᐅ</span></p><p><span>Continue where you</span></p><p><span>left off</span></p>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u54" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u55" class="ax_default table_cell">
          <img id="u55_img" class="img " src={% static "images/index/u55.png" %}/>
          <div id="u55_text" class="text ">
            <p><span>No.</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u56" class="ax_default table_cell">
          <img id="u56_img" class="img " src={% static "images/index/u56.png" %}/>
          <div id="u56_text" class="text ">
            <p><span>Language</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u57" class="ax_default table_cell">
          <img id="u57_img" class="img " src={% static "images/index/u57.png" %}/>
          <div id="u57_text" class="text ">
            <p><span>Title</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u58" class="ax_default table_cell">
          <img id="u58_img" class="img " src={% static "images/index/u58.png" %}/>
          <div id="u58_text" class="text ">
            <p><span>Difficulty</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u59" class="ax_default table_cell">
          <img id="u59_img" class="img " src={% static "images/index/u59.png" %}/>
          <div id="u59_text" class="text ">
            <p><span>Upvotes</span></p>
          </div>
        </div>
<!-- ========================================-->
      <div class = "ax_default table_cell" 
          {% if most_upvoted.0.0 != '' %}
          onclick="window.location.href='question_solving_page?papername={{most_upvoted.0.1.title}}'"
          {% endif %}>
        <!-- Unnamed (Table Cell) -->
        <div id="u60" class="ax_default table_cell">
          <img id="u60_img" class="img " src={% static "images/index/u60.png" %}/>
          <div id="u60_text" class="text ">
            <p><span>{% if most_upvoted.0.0 != '' %}1 {% endif %}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u61" class="ax_default table_cell">
          <img id="u61_img" class="img " src={% static "images/index/u61.png" %}/>
          <div id="u61_text" class="text ">
            <p><span>{{most_upvoted.0.1.language}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u62" class="ax_default table_cell">
          <img id="u62_img" class="img " src={% static "images/index/u62.png" %}/>
          <div id="u62_text" class="text ">
            <p><span>{{most_upvoted.0.1.title}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u63" class="ax_default table_cell">
          <img id="u63_img" class="img " src={% static "images/index/u63.png" %}/>
          <div id="u63_text" class="text ">
            <p><span>{{most_upvoted.0.1.difficulty}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u64" class="ax_default table_cell">
          <img id="u64_img" class="img " src={% static "images/index/u64.png" %}/>
          <div id="u64_text" class="text ">
            <p><span>{{most_upvoted.0.0}}</span></p>
          </div>
        </div>
      </div>
        
      <div class = "ax_default table_cell" 
      {% if most_upvoted.1.0 != '' %}
      onclick="window.location.href='question_solving_page?papername={{most_upvoted.1.1.title}}'"
      {% endif %}>
        <!-- Unnamed (Table Cell) -->
        <div id="u65" class="ax_default table_cell">
          <img id="u65_img" class="img " src={% static "images/index/u65.png" %}/>
          <div id="u65_text" class="text ">
            <p><span>{% if most_upvoted.1.0 != '' %}2{% endif %}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u66" class="ax_default table_cell">
          <img id="u66_img" class="img " src={% static "images/index/u66.png" %}/>
          <div id="u66_text" class="text ">
            <p><span>{{most_upvoted.1.1.language}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u67" class="ax_default table_cell">
          <img id="u67_img" class="img " src={% static "images/index/u67.png" %}/>
          <div id="u67_text" class="text ">
            <p><span>{{most_upvoted.1.1.title}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u68" class="ax_default table_cell">
          <img id="u68_img" class="img " src={% static "images/index/u68.png" %}/>
          <div id="u68_text" class="text ">
            <p><span>{{most_upvoted.1.1.difficulty}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u69" class="ax_default table_cell">
          <img id="u69_img" class="img " src={% static "images/index/u69.png" %}/>
          <div id="u69_text" class="text ">
            <p><span>{{most_upvoted.1.0}}</span></p>
          </div>
        </div>
      </div>

        <div class = "ax_default table_cell" 
        {% if most_upvoted.2.0 != '' %}
        onclick="window.location.href='question_solving_page?papername={{most_upvoted.2.1.title}}'"
        {% endif %}>
        <!-- Unnamed (Table Cell) -->
        <div id="u70" class="ax_default table_cell">
          <img id="u70_img" class="img " src={% static "images/index/u60.png" %}/>
          <div id="u70_text" class="text ">
            <p><span>{% if most_upvoted.2.0 != '' %}3{% endif %}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u71" class="ax_default table_cell">
          <img id="u71_img" class="img " src={% static "images/index/u61.png" %}/>
          <div id="u71_text" class="text ">
            <p><span>{{most_upvoted.2.1.language}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u72" class="ax_default table_cell">
          <img id="u72_img" class="img " src={% static "images/index/u62.png" %}/>
          <div id="u72_text" class="text ">
            <p><span>{{most_upvoted.2.1.title}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u73" class="ax_default table_cell">
          <img id="u73_img" class="img " src={% static "images/index/u63.png" %}/>
          <div id="u73_text" class="text ">
            <p><span>{{most_upvoted.2.1.difficulty}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u74" class="ax_default table_cell">
          <img id="u74_img" class="img " src={% static "images/index/u64.png" %}/>
          <div id="u74_text" class="text ">
            <p><span>{{most_upvoted.2.0}}</span></p>
          </div>
        </div>
      </div>
        <div class = "ax_default table_cell" 
        {% if most_upvoted.3.0 != '' %}
        onclick="window.location.href='question_solving_page?papername={{most_upvoted.3.1.title}}'"
        {% endif %}>
        <!-- Unnamed (Table Cell) -->
        <div id="u75" class="ax_default table_cell">
          <img id="u75_img" class="img " src={% static "images/index/u55.png" %}/>
          <div id="u75_text" class="text ">
            <p><span>{% if most_upvoted.3.0 != '' %}4{% endif %}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u76" class="ax_default table_cell">
          <img id="u76_img" class="img " src={% static "images/index/u56.png" %}/>
          <div id="u76_text" class="text ">
            <p><span>{{most_upvoted.3.1.language}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u77" class="ax_default table_cell">
          <img id="u77_img" class="img " src={% static "images/index/u57.png" %}/>
          <div id="u77_text" class="text ">
            <p><span>{{most_upvoted.3.1.title}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u78" class="ax_default table_cell">
          <img id="u78_img" class="img " src={% static "images/index/u58.png" %}/>
          <div id="u78_text" class="text ">
            <p><span>{{most_upvoted.3.1.difficulty}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u79" class="ax_default table_cell">
          <img id="u79_img" class="img " src={% static "images/index/u59.png" %}/>
          <div id="u79_text" class="text ">
            <p><span>{{most_upvoted.3.0}}</span></p>
          </div>
        </div>
      </div>
        <div class = "ax_default table_cell" 
        {% if most_upvoted.4.0 != '' %}
        onclick="window.location.href='question_solving_page?papername={{most_upvoted.4.1.title}}'"
        {% endif %}>
        <!-- Unnamed (Table Cell) -->
        <div id="u80" class="ax_default table_cell">
          <img id="u80_img" class="img " src={% static "images/index/u60.png" %}/>
          <div id="u80_text" class="text ">
            <p><span>{% if most_upvoted.4.0 != '' %}5{% endif %}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u81" class="ax_default table_cell">
          <img id="u81_img" class="img " src={% static "images/index/u61.png" %}/>
          <div id="u81_text" class="text ">
            <p><span>{{most_upvoted.4.1.language}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u82" class="ax_default table_cell">
          <img id="u82_img" class="img " src={% static "images/index/u62.png" %}/>
          <div id="u82_text" class="text ">
            <p><span>{{most_upvoted.4.1.title}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u83" class="ax_default table_cell">
          <img id="u83_img" class="img " src={% static "images/index/u63.png" %}/>
          <div id="u83_text" class="text ">
            <p><span>{{most_upvoted.4.1.difficulty}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u84" class="ax_default table_cell">
          <img id="u84_img" class="img " src={% static "images/index/u64.png" %}/>
          <div id="u84_text" class="text ">
            <p><span>{{most_upvoted.4.0}}</span></p>
          </div>
        </div>
      </div>
        <div class = "ax_default table_cell" 
        {% if most_upvoted.5.0 != '' %}
        onclick="window.location.href='question_solving_page?papername={{most_upvoted.5.1.title}}'"
        {% endif %}>
        <!-- Unnamed (Table Cell) -->
        <div id="u85" class="ax_default table_cell">
          <img id="u85_img" class="img " src={% static "images/index/u55.png" %}/>
          <div id="u85_text" class="text ">
            <p><span>{% if most_upvoted.5.0 != '' %}6{% endif %}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u86" class="ax_default table_cell">
          <img id="u86_img" class="img " src={% static "images/index/u56.png" %}/>
          <div id="u86_text" class="text ">
            <p><span>{{most_upvoted.5.1.language}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u87" class="ax_default table_cell">
          <img id="u87_img" class="img " src={% static "images/index/u57.png" %}/>
          <div id="u87_text" class="text ">
            <p><span>{{most_upvoted.5.1.title}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u88" class="ax_default table_cell">
          <img id="u88_img" class="img " src={% static "images/index/u58.png" %}/>
          <div id="u88_text" class="text ">
            <p><span>{{most_upvoted.5.1.difficulty}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u89" class="ax_default table_cell">
          <img id="u89_img" class="img " src={% static "images/index/u59.png" %}/>
          <div id="u89_text" class="text ">
            <p><span>{{most_upvoted.5.0}}</span></p>
          </div>
        </div>
      </div>
        <div class = "ax_default table_cell" 
        {% if most_upvoted.6.0 != '' %}
        onclick="window.location.href='question_solving_page?papername={{most_upvoted.6.1.title}}'"
        {% endif %}>
        <!-- Unnamed (Table Cell) -->
        <div id="u90" class="ax_default table_cell">
          <img id="u90_img" class="img " src={% static "images/index/u90.png" %}/>
          <div id="u90_text" class="text ">
            <p><span>{% if most_upvoted.6.0 != '' %}7{% endif %}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u91" class="ax_default table_cell">
          <img id="u91_img" class="img " src={% static "images/index/u91.png" %}/>
          <div id="u91_text" class="text ">
            <p><span>{{most_upvoted.6.1.language}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u92" class="ax_default table_cell">
          <img id="u92_img" class="img " src={% static "images/index/u92.png" %}/>
          <div id="u92_text" class="text ">
            <p><span>{{most_upvoted.6.1.title}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u93" class="ax_default table_cell">
          <img id="u93_img" class="img " src={% static "images/index/u93.png" %}/>
          <div id="u93_text" class="text ">
            <p><span>{{most_upvoted.6.1.difficulty}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u94" class="ax_default table_cell">
          <img id="u94_img" class="img " src={% static "images/index/u94.png" %}/>
          <div id="u94_text" class="text ">
            <p><span>{{most_upvoted.6.0}}</span></p>
          </div>
        </div>
      </div>
        <div class = "ax_default table_cell" 
        {% if most_upvoted.7.0 != '' %}
        onclick="window.location.href='question_solving_page?papername={{most_upvoted.7.1.title}}'"
        {% endif %}>
        <!-- Unnamed (Table Cell) -->
        <div id="u95" class="ax_default table_cell">
          <img id="u95_img" class="img " src={% static "images/index/u55.png" %}/>
          <div id="u95_text" class="text ">
            <p><span>{% if most_upvoted.7.0 != '' %}8{% endif %}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u96" class="ax_default table_cell">
          <img id="u96_img" class="img " src={% static "images/index/u56.png" %}/>
          <div id="u96_text" class="text ">
            <p><span>{{most_upvoted.7.1.language}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u97" class="ax_default table_cell">
          <img id="u97_img" class="img " src={% static "images/index/u57.png" %}/>
          <div id="u97_text" class="text ">
            <p><span>{{most_upvoted.7.1.title}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u98" class="ax_default table_cell">
          <img id="u98_img" class="img " src={% static "images/index/u58.png" %}/>
          <div id="u98_text" class="text ">
            <p><span>{{most_upvoted.7.1.difficulty}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u99" class="ax_default table_cell">
          <img id="u99_img" class="img " src={% static "images/index/u59.png" %}/>
          <div id="u99_text" class="text ">
            <p><span>{{most_upvoted.7.0}}</span></p>
          </div>
        </div>
      </div>
        <div class = "ax_default table_cell" 
        {% if most_upvoted.8.0 != '' %}
        onclick="window.location.href='question_solving_page?papername={{most_upvoted.8.1.title}}'"
        {% endif %}>
        <!-- Unnamed (Table Cell) -->
        <div id="u100" class="ax_default table_cell">
          <img id="u100_img" class="img " src={% static "images/index/u60.png" %}/>
          <div id="u100_text" class="text ">
            <p><span>{% if most_upvoted.8.0 != '' %}9{% endif %}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u101" class="ax_default table_cell">
          <img id="u101_img" class="img " src={% static "images/index/u61.png" %}/>
          <div id="u101_text" class="text ">
            <p><span>{{most_upvoted.8.1.language}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u102" class="ax_default table_cell">
          <img id="u102_img" class="img " src={% static "images/index/u62.png" %}/>
          <div id="u102_text" class="text ">
            <p><span>{{most_upvoted.8.1.title}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u103" class="ax_default table_cell">
          <img id="u103_img" class="img " src={% static "images/index/u63.png" %}/>
          <div id="u103_text" class="text ">
            <p><span>{{most_upvoted.8.1.difficulty}}</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u104" class="ax_default table_cell">
          <img id="u104_img" class="img " src={% static "images/index/u64.png" %}/>
          <div id="u104_text" class="text ">
            <p><span>{{most_upvoted.8.0}}</span></p>
          </div>
        </div>
      </div>

        <!--====================-->
      </div>
    </div>
    <script>
        function continueQuestion() {
            window.location.href = "question_solving_page?papername={{ last_modified_problem }}";
        }
    </script>
    <script src={% static "resources/scripts/axure/ios.js" %}></script>
  </body>
</html>
