<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Landing Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href={% static "resources/css/axure_rp_page.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "data/styles.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "files/landing_page/styles.css" %} type="text/css" rel="stylesheet"/>
    <script src={% static "resources/scripts/jquery-3.2.1.min.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.js" %}></script>
    <script src={% static "resources/scripts/axure/globals.js" %}></script>
    <script src={% static "resources/scripts/axutils.js" %}></script>
    <script src={% static "resources/scripts/axure/annotation.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.std.js" %}></script>
    <script src={% static "resources/scripts/axure/doc.js" %}></script>
    <script src={% static "resources/scripts/messagecenter.js" %}></script>
    <script src={% static "resources/scripts/axure/events.js" %}></script>
    <script src={% static "resources/scripts/axure/recording.js" %}></script>
    <script src={% static "resources/scripts/axure/action.js" %}></script>
    <script src={% static "resources/scripts/axure/expr.js" %}></script>
    <script src={% static "resources/scripts/axure/geometry.js" %}></script>
    <script src={% static "resources/scripts/axure/flyout.js" %}></script>
    <script src={% static "resources/scripts/axure/model.js" %}></script>
    <script src={% static "resources/scripts/axure/repeater.js" %}></script>
    <script src={% static "resources/scripts/axure/sto.js" %}></script>
    <script src={% static "resources/scripts/axure/utils.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/variables.js" %}></script>
    <script src={% static "resources/scripts/axure/drag.js" %}></script>
    <script src={% static "resources/scripts/axure/move.js" %}></script>
    <script src={% static "resources/scripts/axure/visibility.js" %}></script>
    <script src={% static "resources/scripts/axure/style.js" %}></script>
    <script src={% static "resources/scripts/axure/adaptive.js" %}></script>
    <script src={% static "resources/scripts/axure/tree.js" %}></script>
    <script src={% static "resources/scripts/axure/init.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/legacy.js" %}></script>
    <script src={% static "resources/scripts/axure/viewer.js" %}></script>
    <script src={% static "resources/scripts/axure/math.js" %}></script>
    <script src={% static "resources/scripts/axure/jquery.nicescroll.min.js" %}></script>
    <script src={% static "data/document.js" %}></script>
    <script src={% static "files/landing_page/data.js" %}></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return {% static 'resources/images/transparent.gif' %}; };
      $axure.utils.getOtherPath = function() { return {% static 'resources/Other.html' %}; };
      $axure.utils.getReloadPath = function() { return {% static 'resources/reload.html' %}; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Image) -->
      <div id="u0" class="ax_default image">
        <img id="u0_img" class="img " src={% static "images/landing_page/u0.png" %}/>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1" class="ax_default box_1">
        <div id="u1_div" class=""></div>
        <div id="u1_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u2" class="ax_default image">
        <img id="u2_img" class="img " src={% static "images/landing_page/u2.png" %}/>
        <div id="u2_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u3" class="ax_default heading_1">
        <div id="u3_div" class=""></div>
        <div id="u3_text" class="text ">
          <p><span>ImperialCode Login</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u4" class="ax_default text_field">
        <div id="u4_div" class=""></div>
        <input id="u4_input" type="text" value="" class="u4_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u5" class="ax_default text_field">
        <div id="u5_div" class=""></div>
        <input id="u5_input" type="password" value="" class="u5_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6" class="ax_default label">
        <div id="u6_div" class=""></div>
        <div id="u6_text" class="text ">
          <p><span>Password</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u7" class="ax_default label">
        <div id="u7_div" class=""></div>
        <div id="u7_text" class="text ">
          <p><span>Username</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u8" class="ax_default primary_button">
        <img id="u8_img" class="img " src={% static "images/landing_page/u8.svg" %}/>
        <div id="u8_text" class="text ">
          <p><span>Login</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9" class="ax_default button">
        <img id="u9_img" class="img " src={% static "images/landing_page/u9.svg" %}/>
        <div id="u9_text" class="text ">
          <p><span>Sign Up</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10" class="ax_default heading_2">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text ">
          <p><span>A coding practice platform for Imperial students</span></p>
        </div>
      </div>
    </div>
    <script src={% static "resources/scripts/axure/ios.js" %}></script>
  </body>
</html>
