<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <title>Past Papers Page</title>
    <link rel="icon" href="{% static 'resources/favicon.ico' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href={% static "resources/css/axure_rp_page.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "data/styles.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "files/past_papers_page/styles.css" %} type="text/css" rel="stylesheet"/>
    <script src={% static "resources/scripts/jquery-3.2.1.min.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.js" %}></script>
    <script src={% static "resources/scripts/axure/globals.js" %}></script>
    <script src={% static "resources/scripts/axutils.js" %}></script>
    <script src={% static "resources/scripts/axure/annotation.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.std.js" %}></script>
    <script src={% static "resources/scripts/axure/doc.js" %}></script>
    <script src={% static "resources/scripts/messagecenter.js" %}></script>
    <script src={% static "resources/scripts/axure/events.js" %}></script>
    <script src={% static "resources/scripts/axure/recording.js" %}></script>
    <script src={% static "resources/scripts/axure/action.js" %}></script>
    <script src={% static "resources/scripts/axure/expr.js" %}></script>
    <script src={% static "resources/scripts/axure/geometry.js" %}></script>
    <script src={% static "resources/scripts/axure/flyout.js" %}></script>
    <script src={% static "resources/scripts/axure/model.js" %}></script>
    <script src={% static "resources/scripts/axure/repeater.js" %}></script>
    <script src={% static "resources/scripts/axure/sto.js" %}></script>
    <script src={% static "resources/scripts/axure/utils.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/variables.js" %}></script>
    <script src={% static "resources/scripts/axure/drag.js" %}></script>
    <script src={% static "resources/scripts/axure/move.js" %}></script>
    <script src={% static "resources/scripts/axure/visibility.js" %}></script>
    <script src={% static "resources/scripts/axure/style.js" %}></script>
    <script src={% static "resources/scripts/axure/adaptive.js" %}></script>
    <script src={% static "resources/scripts/axure/tree.js" %}></script>
    <!-- <script src={% static "resources/scripts/axure/init.temp.js" %}></script> -->
    <script src={% static "resources/scripts/axure/legacy.js" %}></script>
    <script src={% static "resources/scripts/axure/viewer.js" %}></script>
    <script src={% static "resources/scripts/axure/math.js" %}></script>
    <script src={% static "resources/scripts/axure/jquery.nicescroll.min.js" %}></script>
    <script src={% static "data/document.js" %}></script>
    <script src={% static "files/past_papers_page/data.js" %}></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'resources/reload.html' %}"; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u166" class="ax_default box_2">
        <div id="u166_div" class=""></div>
        <div id="u166_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      {% include "home/../global_components/navbar.html" %}
      <div id="u167" style="display:none; visibility:hidden;"></div>

      <!-- Language filter (Droplist) -->
      <div id="u184" class="ax_default droplist" data-label="Language filter">
        <div id="u184_div" class=""></div>
        <select id="u184_input" class="u184_input">
          <option class="u184_input_option" selected value="All">All</option>
          <option class="u184_input_option" value="Haskell">Haskell</option>
          <option class="u184_input_option" value="Java">Java</option>
          <option class="u184_input_option" value="C">C</option>
          <option class="u184_input_option" value="SQL">SQL</option>
        </select>
      </div>

      <!-- Year filter (Droplist) -->
      <div id="u185" class="ax_default droplist" data-label="Year filter">
        <div id="u185_div" class=""></div>
        <select id="u185_input" class="u185_input">
          <option class="u185_input_option" value="All">All</option>
          <option class="u185_input_option" value="2020">2020</option>
          <option class="u185_input_option" value="2019">2019</option>
          <option class="u185_input_option" value="2018">2018</option>
          <option class="u185_input_option" value="2017">2017</option>
          <option class="u185_input_option" value="2016">2016</option>
          <option class="u185_input_option" value="2015">2015</option>
        </select>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u186" class="ax_default text_field">
        <div id="u186_div" class=""></div>
        <input id="u186_input" type="search" value="" class="u186_input" placeholder="Search past papers title, description, or IDs"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u187" class="ax_default heading_1">
        <div id="u187_div" class=""></div>
        <div id="u187_text" class="text ">
          <p><span>Past Papers</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u188" class="ax_default label">
        <div id="u188_div" class=""></div>
        <div id="u188_text" class="text ">
          <p><span>Language</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u189" class="ax_default label">
        <div id="u189_div" class=""></div>
        <div id="u189_text" class="text ">
          <p><span>Year</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u190" class="ax_default label">
        <div id="u190_div" class=""></div>
        <div id="u190_text" class="text ">
          <p><span>Difficulty</span></p>
        </div>
      </div>

      <!-- Difficulty filter (Droplist) -->
      <div id="u191" class="ax_default droplist" data-label="Difficulty filter">
        <div id="u191_div" class=""></div>
        <select id="u191_input" class="u191_input">
          <option class="u191_input_option" value="All">All</option>
          <option class="u191_input_option" value="3">★★★</option>
          <option class="u191_input_option" value="2">★★</option>
          <option class="u191_input_option" value="1">★</option>
        </select>
      </div>

      <!-- Unnamed (List Box) -->
      <div id="u192" class="ax_default list_box">
        <div id="u192_div" class=""></div>
        <select id="u192_input" size="2" class="u192_input">
          <!-- should be dynamic -->

          {%for paper in display_papers %}

          <option class="u192_input_option" onclick='displayInfo("{{ paper.title }}")'>{{paper.title}}</option>

          {% endfor %}

          <!-- should be dynamic -->
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u193" class="ax_default box_1">
        <div id="u193_div" class=""></div>
        <div id="u193_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u194" class="ax_default button" onclick="startQuestionPaperOnClick()">
        <div id="u194_div" class=""></div>
        <div id="u194_text" class="text ">
          <p><span>Start</span></p>
        </div>
      </div>
      
      <!-- this should be dynamic  -->

      <!-- Unnamed (Rectangle) -->
      <div id="u195" class="ax_default heading_1">
        <div id="u195_div" class=""></div>
        <div id="u195_text" class="text ">
          <p><span>{{selected_paper.title}}</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Area) -->
      <div id="u196" class="ax_default text_area disabled">
        <div id="u196_div" class="disabled"></div>
          <textarea id="u196_input" class="u196_input" disabled>{{selected_paper.desc}}</textarea>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u197" class="ax_default heading_1">
        <div id="u197_div" class=""></div>
        <div id="u197_text" class="text ">
          <p><span>
              {% if not selected_paper.year == 0 %}
                  {{selected_paper.year}}
              {% endif %}
          </span></p>
        </div>
      </div>

      <!-- this should be dynamic -->


      <!-- Status filter (Droplist) -->
      <div id="u198" class="ax_default droplist" data-label="Status filter">
        <div id="u198_div" class=""></div>
        <select id="u198_input" class="u198_input">
          <option class="u198_input_option" value="All">All</option>
          <option class="u198_input_option" value="Todo">Todo</option>
          <option class="u198_input_option" value="Solved">Solved</option>
          <option class="u198_input_option" value="In Progress">In Progress</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u199" class="ax_default label">
        <div id="u199_div" class=""></div>
        <div id="u199_text" class="text ">
          <p><span>Status</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u200" class="ax_default button" onclick="searchPastPapersButtonOnClick()">
        <img id="u200_img" class="img " src={% static "images/past_papers_page/u200.svg" %}/>
        <div id="u200_text" class="text ">
          <p><span>Search</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u201" class="ax_default button" onclick="clearFilters()">
        <img id="u201_img" class="img " src={% static "images/past_papers_page/u200.svg" %}/>
        <div id="u201_text" class="text ">
          <p><span>Clear Filter</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u202" class="ax_default heading_1">
        <div id="u202_div" class=""></div>
        <div id="u202_text" class="text ">
        {% if selected_paper.difficulty != 0 %}
          <p><span style="font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;font-weight:300;">
              Difficulty: {{ selected_paper.difficulty }}
          </span></p>
        {% endif %}
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u204" class="ax_default heading_1">
        <div id="u204_div" class=""></div>
        <div id="u204_text" class="text ">
          <p><span>Completion: </span></p>
        </div>
      </div>
      {% if selected_paper.title != "" %}
      <!-- Bootstrap progress bar -->
      <div class="progress" style="position:absolute; left:1250px; top:526px; width:124px; height:18px">
        <div id="paper_progress_bar" class="progress-bar progress-bar-striped bg-info" role="progressbar"
             aria-valuenow="{{ selected_paper.progress }}" aria-valuemin="0" aria-valuemax="100"
             style="width:{{ selected_paper.progress }}%; color:black">
            {{ selected_paper.progress }}%
        </div>
      </div>
      {% endif %}
      <!-- Unnamed (Rectangle) -->
      <div id="u205" class="ax_default box_1">
        <div id="u205_div" class=""></div>
        <div id="u205_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      {% if selected_paper.title != "" %}
      <div id="u206" class="ax_default image" onclick="register_vote(UP)">
        <img id="u206_img" class="img " src={% static "images/past_papers_page/default_upvote.png" %}
                onmouseover="this.src='{% static 'images/past_papers_page/u206.png' %}';"
                onmouseout="this.src='{% static 'images/past_papers_page/default_upvote.png' %}';"/>
        <div id="u206_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u207" class="ax_default image" onclick="register_vote(DOWN)">
        <img id="u207_img" class="img " src={% static "images/past_papers_page/default_downvote.png" %}
                onmouseover="this.src='{% static 'images/past_papers_page/u207.png' %}';"
                onmouseout="this.src='{% static 'images/past_papers_page/default_downvote.png' %}';"/>
        <div id="u207_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u208" class="ax_default heading_1">
        <div id="u208_div" class=""></div>
        <div id="u208_text" class="text ">
          {{selected_paper.upvotes}}
        </div>
      </div>
      {% endif %}

      <!-- Unnamed (Image) -->
      <div id="u209" class="ax_default image">
        <img id="u209_img" class="img " src={% static "images/past_papers_page/u209.png" %}/>
        <div id="u209_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        let currentUrl = new URL(window.location.href);

        const DEFAULT_KEYWORDS = "";
        let keywordsFilter = document.getElementById("u186_input");
        let languageFilter = document.getElementById("u184_input");
        let yearFilter = document.getElementById("u185_input");
        let difficultyFilter = document.getElementById("u191_input");
        let statusFilter = document.getElementById("u198_input");

        let filters = ["keywords", "lang", "year", "diff", "status"];
        let filterFields = [keywordsFilter, languageFilter, yearFilter, difficultyFilter, statusFilter];
        for (i = 0; i < filters.length; i++) {
            if (currentUrl.searchParams.get(filters[i]) !== null) {
                filterFields[i].value = currentUrl.searchParams.get(filters[i]).toString();
            }
        }

        let pastPapersList = document.getElementById("u192_input");
        pastPapersList.value = "{{ selected_paper.title }}";

        /* Vote display */
        const UP = 1;
        const NO_VOTE = 0;
        const DOWN = -1;
        let userVote = {{ selected_paper.user_vote }};
        let upvoteButton = document.getElementById("u206_img");
        let downvoteButton = document.getElementById("u207_img");

        let toggleUpvoteButton = function(activate) {
            let defaultPath = "{% static 'images/past_papers_page/default_upvote.png' %}";
            let activatePath = "{% static 'images/past_papers_page/u206.png' %}";
            upvoteButton.src = activate ? activatePath : defaultPath;
            upvoteButton.onmouseover = function () {
                upvoteButton.src = activate ? defaultPath : activatePath;
            };
            upvoteButton.onmouseout = function () {
                upvoteButton.src = activate ? activatePath : defaultPath;
            }
        }
        let toggleDownvoteButton = function(activate) {
            let defaultPath = "{% static 'images/past_papers_page/default_downvote.png' %}";
            let activatePath = "{% static 'images/past_papers_page/u207.png' %}";
            downvoteButton.src = activate ? activatePath : defaultPath;
            downvoteButton.onmouseover = function () {
                downvoteButton.src = activate ? defaultPath : activatePath;
            };
            downvoteButton.onmouseout = function () {
                downvoteButton.src = activate ? activatePath : defaultPath;
            }
        }


        function displayVote() {
            if (userVote == UP) {
                toggleDownvoteButton(false);
                toggleUpvoteButton(true);
            } else if (userVote == DOWN) {
                toggleDownvoteButton(true);
                toggleUpvoteButton(false);
            } else {
                toggleDownvoteButton(false);
                toggleUpvoteButton(false);
            }
        }
        displayVote();
        /* Vote display */

        function displayInfo(title) {
            if (currentUrl.searchParams.get("p") !== null) {
                currentUrl.searchParams.set("p", title);
            } else {
                currentUrl.searchParams.append("p", title);
            }
            window.location.href = currentUrl.toString();
        }

        function searchPastPapersButtonOnClick() {
            let keywords = keywordsFilter.value;
            let language = languageFilter.options[languageFilter.selectedIndex].value;
            let year = yearFilter.options[yearFilter.selectedIndex].value;
            let difficulty = difficultyFilter.options[difficultyFilter.selectedIndex].value;
            let status = statusFilter.options[statusFilter.selectedIndex].value;

            let params = ""
            params = params + (keywords.localeCompare(DEFAULT_KEYWORDS) == 0 ? "" : `&keywords=${keywords}`);
            params = params + (language.localeCompare("All") == 0 ? "" : `&lang=${language}`);
            params = params + (year.localeCompare("All") == 0 ? "" : `&year=${year}`);
            params = params + (difficulty.localeCompare("All") == 0 ? "" : `&diff=${difficulty}`);
            params = params + (status.localeCompare("All") == 0 ? "" : `&status=${status}`);
            window.location.href = `/past_papers_page?${params.substr(1)}`
        }

        function clearFilters() {
            window.location.href = "/past_papers_page.html"
        }
        let paper_progress_bar = document.getElementById("paper_progress_bar");

        function startQuestionPaperOnClick() {
            // If there is a paper selected
            if ("{{ selected_paper.title }}".localeCompare("") != 0) {
                window.location.href = `/question_solving_page?papername={{ selected_paper.title }}`;
            } else {
                alert("Please select a paper to start!");
            }
        }

        function register_vote(type) {
            type = Math.abs(type - userVote) < 2 ? (userVote + type) % 2 : type;
            diff = type - userVote;
            let upvoteLabel = document.getElementById("u208_text");
            upvoteLabel.innerHTML = parseInt(upvoteLabel.innerHTML) + diff;
            userVote = type;
            displayVote()
            $.ajax({
                type: "POST",
                url: "/register_problem_vote/",
                async: false,
                data: {
                    "pname": "{{ selected_paper.title }}",
                    "type": type,
                    "csrfmiddlewaretoken": window.CSRF_TOKEN
                },
                success: function(_) {
                }
            });
        }

    </script>
    <script src={% static "resources/scripts/axure/ios.js" %}></script>
  </body>
</html>
