<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Problem Creation Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href={% static "resources/css/axure_rp_page.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "data/styles.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "files/problem_creation_page/styles.css" %} type="text/css" rel="stylesheet"/>
    <script src={% static "resources/scripts/jquery-3.2.1.min.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.js" %}></script>
    <script src={% static "resources/scripts/axure/globals.js" %}></script>
    <script src={% static "resources/scripts/axutils.js" %}></script>
    <script src={% static "resources/scripts/axure/annotation.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.std.js" %}></script>
    <script src={% static "resources/scripts/axure/doc.js" %}></script>
    <script src={% static "resources/scripts/messagecenter.js" %}></script>
    <script src={% static "resources/scripts/axure/events.js" %}></script>
    <script src={% static "resources/scripts/axure/recording.js" %}></script>
    <script src={% static "resources/scripts/axure/action.js" %}></script>
    <script src={% static "resources/scripts/axure/expr.js" %}></script>
    <script src={% static "resources/scripts/axure/geometry.js" %}></script>
    <script src={% static "resources/scripts/axure/flyout.js" %}></script>
    <script src={% static "resources/scripts/axure/model.js" %}></script>
    <script src={% static "resources/scripts/axure/repeater.js" %}></script>
    <script src={% static "resources/scripts/axure/sto.js" %}></script>
    <script src={% static "resources/scripts/axure/utils.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/variables.js" %}></script>
    <script src={% static "resources/scripts/axure/drag.js" %}></script>
    <script src={% static "resources/scripts/axure/move.js" %}></script>
    <script src={% static "resources/scripts/axure/visibility.js" %}></script>
    <script src={% static "resources/scripts/axure/style.js" %}></script>
    <script src={% static "resources/scripts/axure/adaptive.js" %}></script>
    <script src={% static "resources/scripts/axure/tree.js" %}></script>
    <!-- <script src={% static "resources/scripts/axure/init.temp.js" %}></script> -->
    <script src={% static "resources/scripts/axure/legacy.js" %}></script>
    <script src={% static "resources/scripts/axure/viewer.js" %}></script>
    <script src={% static "resources/scripts/axure/math.js" %}></script>
    <script src={% static "resources/scripts/axure/jquery.nicescroll.min.js" %}></script>
    <script src={% static "data/document.js" %}></script>
    <script src={% static "files/problem_creation_page/data.js" %}></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'resources/reload.html' %}"; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      {% if user_agent.is_mobile == False %}
      {% include "home/../global_components/navbar.html" %}
      {% else %}
      {% include "home/../global_components/navbar_multidevice.html" %}
      {% endif %}
      <div id="u343" style="display:none; visibility:hidden;"></div>

      <!-- Question creation (Dynamic Panel) -->
      <div id="u360" class="ax_default" data-label="Question creation">
        <div id="u360_state0" class="panel_state" data-label="Spec selection" style="">
          <div id="u360_state0_content" class="panel_state_content">

            <!-- Spec selection group (Group) -->
            <div id="u361" class="ax_default" data-label="Spec selection group" data-left="0" data-top="50" data-width="999" data-height="540">

              <!-- Unnamed (Rectangle) -->
              <div id="u362" class="ax_default box_1">
                <div id="u362_div" class=""></div>
                <div id="u362_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u363" class="ax_default heading_1">
                <div id="u363_div" class=""></div>
                <div id="u363_text" class="text ">
                  <p><span>Select a language</span></p>
                </div>
              </div>

              <!-- Unnamed (Droplist) -->
              <div id="u364" class="ax_default droplist">
                <div id="u364_div" class=""></div>
                <select id="u364_input" class="u364_input">
                  <option class="u364_input_option" value="Haskell">Haskell</option>
                  <option class="u364_input_option" value="Java">Java</option>
                  <option class="u364_input_option" value="C">C</option>
                </select>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u365" class="ax_default line">
                <img id="u365_img" class="img " src={% static "images/problem_creation_page/u365.svg" %}/>
                <div id="u365_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u366" class="ax_default heading_1">
                <div id="u366_div" class=""></div>
                <div id="u366_text" class="text ">
                  <p><span>Specification</span></p>
                </div>
              </div>

              <!-- Unnamed (Radio Button) -->
              <div id="u367" class="ax_default radio_button selected" selectiongroup="Spec selection group">
                <label id="u367_input_label" for="u367_input" style="position: absolute; left: 0px;">
                  <img id="u367_img" class="img " src={% static "images/problem_creation_page/u367_selected.svg" %}/>
                  <div id="u367_text" class="text ">
                    <p><span>Upload spec</span></p>
                  </div>
                </label>
                <input id="u367_input" type="radio" value="radio" name="Spec selection group" checked/>
              </div>

              <!-- Unnamed (Radio Button) -->
              <div id="u368" class="ax_default radio_button" selectiongroup="Spec selection group">
                <label id="u368_input_label" for="u368_input" style="position: absolute; left: 0px;">
                  <img id="u368_img" class="img " src={% static "images/problem_creation_page/u368.svg" %}/>
                  <div id="u368_text" class="text ">
                    <p><span>Link to spec</span></p>
                  </div>
                </label>
                <input id="u368_input" type="radio" value="radio" name="Spec selection group"/>
              </div>

              <!-- Unnamed (Radio Button) -->
              <div id="u369" class="ax_default radio_button" selectiongroup="Spec selection group">
                <label id="u369_input_label" for="u369_input" style="position: absolute; left: 0px;">
                  <img id="u369_img" class="img " src={% static "images/problem_creation_page/u369.svg" %}/>
                  <div id="u369_text" class="text ">
                    <p><span>Write spec</span></p>
                  </div>
                </label>
                <input id="u369_input" type="radio" value="radio" name="Spec selection group"/>
              </div>

              <!-- Spec path field (Text Field) -->
              <div id="u370" class="ax_default text_field" data-label="Spec path field">
                <div id="u370_div" class=""></div>
                <input id="u370_input" type="text" value="" class="u370_input"/>
              </div>

              <!-- Upload spec button (Shape) -->
              <div id="u371" class="ax_default button" data-label="Upload spec button">
                <img id="u371_img" class="img " src={% static "images/problem_creation_page/upload_spec_button_u371.svg" %}/>
                <div id="u371_text" class="text ">
                  <p><span>Select a file and upload</span></p>
                </div>
              </div>

              <!-- Spec link field (Text Field) -->
              <div id="u372" class="ax_default text_field" data-label="Spec link field">
                <div id="u372_div" class=""></div>
                <input id="u372_input" type="text" value="" class="u372_input"/>
              </div>

              <!-- Write spec area (Text Area) -->
              <div id="u373" class="ax_default text_area disabled" data-label="Write spec area">
                <div id="u373_div" class="disabled"></div>
                <textarea id="u373_input" class="u373_input" disabled></textarea>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u374" class="ax_default button">
                <div id="u374_div" class=""></div>
                <div id="u374_text" class="text ">
                  <p><span>Individual Questions ⯈</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u360_state1" class="panel_state" data-label="Individual questions" style="visibility: hidden;">
          <div id="u360_state1_content" class="panel_state_content">

            <!-- Individual questions group (Group) -->
            <div id="u375" class="ax_default" data-label="Individual questions group" data-left="0" data-top="50" data-width="999" data-height="540">

              <!-- Unnamed (Rectangle) -->
              <div id="u376" class="ax_default box_1">
                <div id="u376_div" class=""></div>
                <div id="u376_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Subquestion 1 (Group) -->
              <div id="u377" class="ax_default" data-label="Subquestion 1" data-left="24" data-top="66" data-width="676" data-height="212">

                <!-- Unnamed (Rectangle) -->
                <div id="u378" class="ax_default box_2">
                  <div id="u378_div" class=""></div>
                  <div id="u378_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u379" class="ax_default heading_1">
                  <div id="u379_div" class=""></div>
                  <div id="u379_text" class="text ">
                    <p><span>Subquestion 1</span></p>
                  </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u380" class="ax_default text_field">
                  <div id="u380_div" class=""></div>
                  <input id="u380_input" type="text" value="" class="u380_input"/>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u381" class="ax_default heading_1">
                  <div id="u381_div" class=""></div>
                  <div id="u381_text" class="text ">
                    <p><span>Question Title</span></p>
                  </div>
                </div>

                <!-- Unnamed (Text Area) -->
                <div id="u382" class="ax_default text_area">
                  <div id="u382_div" class=""></div>
                  <textarea id="u382_input" class="u382_input"></textarea>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u383" class="ax_default heading_1">
                  <div id="u383_div" class=""></div>
                  <div id="u383_text" class="text ">
                    <p><span>Question Description</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u384" class="ax_default button">
                <div id="u384_div" class=""></div>
                <div id="u384_text" class="text ">
                  <p><span>Skeleton⯈</span></p>
                </div>
              </div>

              <!-- Add subquestion button (Ellipse) -->
              <div id="u385" class="ax_default ellipse" data-label="Add subquestion button">
                <img id="u385_img" class="img " src={% static "images/problem_creation_page/add_subquestion_button_u385.svg" %}/>
                <div id="u385_text" class="text ">
                  <p><span>+</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u386" class="ax_default heading_1">
                <div id="u386_div" class=""></div>
                <div id="u386_text" class="text ">
                  <p><span>Add subquestion</span></p>
                </div>
              </div>

              <!-- Subquestion 2 (Group) -->
              <div id="u387" class="ax_default ax_default_hidden" data-label="Subquestion 2" style="display:none; visibility: hidden" data-left="31" data-top="319" data-width="676" data-height="212">

                <!-- Unnamed (Rectangle) -->
                <div id="u388" class="ax_default box_2">
                  <div id="u388_div" class=""></div>
                  <div id="u388_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u389" class="ax_default heading_1">
                  <div id="u389_div" class=""></div>
                  <div id="u389_text" class="text ">
                    <p><span>Subquestion 2</span></p>
                  </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u390" class="ax_default text_field">
                  <div id="u390_div" class=""></div>
                  <input id="u390_input" type="text" value="" class="u390_input"/>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u391" class="ax_default heading_1">
                  <div id="u391_div" class=""></div>
                  <div id="u391_text" class="text ">
                    <p><span>Question Title</span></p>
                  </div>
                </div>

                <!-- Unnamed (Text Area) -->
                <div id="u392" class="ax_default text_area">
                  <div id="u392_div" class=""></div>
                  <textarea id="u392_input" class="u392_input"></textarea>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u393" class="ax_default heading_1">
                  <div id="u393_div" class=""></div>
                  <div id="u393_text" class="text ">
                    <p><span>Question Description</span></p>
                  </div>
                </div>
              </div>

              <!-- Remove subquestion button (Shape) -->
              <div id="u394" class="ax_default ellipse ax_default_hidden" data-label="Remove subquestion button" style="display:none; visibility: hidden">
                <img id="u394_img" class="img " src={% static "images/problem_creation_page/remove_subquestion_button_u394.svg" %}/>
                <div id="u394_text" class="text ">
                  <p><span>-</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u395" class="ax_default heading_1 ax_default_hidden" style="display:none; visibility: hidden">
                <div id="u395_div" class=""></div>
                <div id="u395_text" class="text ">
                  <p><span>Remove subquestion</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u360_state2" class="panel_state" data-label="Skeleton" style="visibility: hidden;">
          <div id="u360_state2_content" class="panel_state_content">
          </div>
        </div>
        <div id="u360_state3" class="panel_state" data-label="Testcases" style="visibility: hidden;">
          <div id="u360_state3_content" class="panel_state_content">
          </div>
        </div>
        <div id="u360_state4" class="panel_state" data-label="Answer" style="visibility: hidden;">
          <div id="u360_state4_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Question creation progress labels (Group) -->
      <div id="u396" class="ax_default" data-label="Question creation progress labels" data-left="203" data-top="93" data-width="873" data-height="24">

        <!-- Unnamed (Rectangle) -->
        <div id="u397" class="ax_default heading_1 selected" selectiongroup="Question creation progress">
          <div id="u397_div" class="selected"></div>
          <div id="u397_text" class="text ">
            <p><span>Spec</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u398" class="ax_default heading_1" selectiongroup="Question creation progress">
          <div id="u398_div" class=""></div>
          <div id="u398_text" class="text ">
            <p><span>Individual Questions</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u399" class="ax_default heading_1" selectiongroup="Question creation progress">
          <div id="u399_div" class=""></div>
          <div id="u399_text" class="text ">
            <p><span>Skeleton</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u400" class="ax_default heading_1" selectiongroup="Question creation progress">
          <div id="u400_div" class=""></div>
          <div id="u400_text" class="text ">
            <p><span>Testcases</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u401" class="ax_default heading_1" selectiongroup="Question creation progress">
          <div id="u401_div" class=""></div>
          <div id="u401_text" class="text ">
            <p><span>Answer (Optional)</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u402" class="ax_default button">
        <div id="u402_div" class=""></div>
        <div id="u402_text" class="text ">
          <p><span>⮜&nbsp;Back</span></p>
        </div>
      </div>
    </div>
    <script src={% static "resources/scripts/axure/ios.js" %}></script>
  </body>
</html>
