﻿<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Question Solving Page</title>
    <!-- Codemirror -->
    <script src={% static "codemirror/lib/codemirror.js" %}></script>
    <link rel="stylesheet" href={% static "codemirror/lib/codemirror.css" %}>
    <link rel="stylesheet" href={% static "codemirror/theme/dracula.css" %}>
    <script src={% static "codemirror/mode/haskell/haskell.js" %}></script>
    <!-- Codemirror -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href={% static "data/styles.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "files/question_solving_page/styles.css" %} type="text/css" rel="stylesheet"/>
    <script src={% static "resources/scripts/jquery-3.2.1.min.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.js" %}></script>
    <script src={% static "resources/scripts/axure/globals.js" %}></script>
    <script src={% static "resources/scripts/axutils.js" %}></script>
    <script src={% static "resources/scripts/axure/annotation.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.std.js" %}></script>
    <script src={% static "resources/scripts/axure/doc.js" %}></script>
    <script src={% static "resources/scripts/messagecenter.js" %}></script>
    <script src={% static "resources/scripts/axure/events.js" %}></script>
    <script src={% static "resources/scripts/axure/recording.js" %}></script>
    <script src={% static "resources/scripts/axure/action.js" %}></script>
    <script src={% static "resources/scripts/axure/expr.js" %}></script>
    <script src={% static "resources/scripts/axure/geometry.js" %}></script>
    <script src={% static "resources/scripts/axure/flyout.js" %}></script>
    <script src={% static "resources/scripts/axure/model.js" %}></script>
    <script src={% static "resources/scripts/axure/repeater.js" %}></script>
    <script src={% static "resources/scripts/axure/sto.js" %}></script>
    <script src={% static "resources/scripts/axure/utils.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/variables.js" %}></script>
    <script src={% static "resources/scripts/axure/drag.js" %}></script>
    <script src={% static "resources/scripts/axure/move.js" %}></script>
    <script src={% static "resources/scripts/axure/visibility.js" %}></script>
    <script src={% static "resources/scripts/axure/style.js" %}></script>
    <script src={% static "resources/scripts/axure/adaptive.js" %}></script>
    <script src={% static "resources/scripts/axure/tree.js" %}></script>
    <script src={% static "resources/scripts/axure/init.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/legacy.js" %}></script>
    <script src={% static "resources/scripts/axure/viewer.js" %}></script>
    <script src={% static "resources/scripts/axure/math.js" %}></script>
    <script src={% static "resources/scripts/axure/jquery.nicescroll.min.js" %}></script>
    <script src={% static "data/document.js" %}></script>
    <script type="text/javascript" src={% static "files/question_solving_page/data.js" %}></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'resources/reload.html' %}"; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Primary (Group) -->
      <div id="u265" class="ax_default" data-label="Primary" data-left="0" data-top="0" data-width="1536" data-height="718">
        <!-- Code solving area (Dynamic Panel) -->
        <div id="u267" class="ax_default" data-label="Code solving area">
          <div id="u267_state0" class="panel_state" data-label="Default" style="">
            <div id="u267_state0_content" class="panel_state_content">

              <!-- Console panel (Group) -->
              <div id="u268" class="ax_default" data-label="Console panel" data-left="713" data-top="374" data-width="574" data-height="208">

                <!-- Unnamed (Shape) -->
                <div id="u269" class="ax_default button selected" onclick="testcaseConsoleOnclick()">
                  <div id="u269_div"></div>
                  <div id="u269_text" class="text ">
                    <p><span>Testcase</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u270" class="ax_default button" onclick="outputConsoleOnclick()">
                  <div id="u270_div" class=""></div>
                  <div id="u270_text" class="text ">
                    <p><span>Output</span></p>
                  </div>
                </div>
                <!---------------- Tab contents ---------------->
                <!-- Unnamed (Text Area) -->
                <div id="u274" class="ax_default text_area">
                  <div id="u274_div" class=""></div>
                  <textarea id="u274_input" class="u274_input">Test cases</textarea>
                </div>

                <!-- Unnamed (Text Area) -->
                <div id="u277" class="ax_default text_area">
                  <div id="u277_div" class=""></div>
                  <textarea id="u277_input" class="u277_input"> {{output}}</textarea>
                </div>
              </div>
              <script>
                /* Select the testcase panel by default */
                document.getElementById("u269").click();
              </script>
              <!-- Code edit area (Text Area) -->
              <div id="u278" class="ax_default text_area" data-label="Code edit area">
                <div id="u278_div"></div>
                <textarea id="u278_input">{{code}}</textarea>
                  <script>
                      let editor = CodeMirror.fromTextArea(document.getElementById("u278_input"), {
                          theme: "dracula",
                          lineNumbers: true
                      });
                      editor.setSize("1268", "357");
                      editor.getWrapperElement().style["font-family"] = "JetBrains Mono Medium";
                  </script>
              </div>

              <!-- Spec (Inline Frame) -->
              <div id="u279" class="ax_default" data-label="Spec">
                <iframe id="u279_input" data-label="Spec" scrolling="auto" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>

              <!-- Single question (Text Area) -->
              <div id="u280" class="ax_default text_area disabled" data-label="Single question">
                <div id="u280_div" class="disabled"></div>
                <textarea id="u280_input" class="u280_input" disabled> {{desc}} </textarea>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u281" class="ax_default box_2" onclick="hideSpecOnClick()">
                <div id="u281_text" class="text ">⯇</div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u282" class="ax_default button" onclick="hideConsoleOnClick()">
                <div id="u282_text" class="text ">Hide console ⯆</div>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>

        <!-- Buttons (Group) -->
        <div id="u304" class="ax_default" data-label="Buttons" data-left="900" data-top="672" data-width="463" data-height="40">

          <!-- Unnamed (Rectangle) -->
          <div id="u305" class="ax_default button">
            <div id="u305_div" class=""></div>
            <div id="u305_text" class="text ">
              <p style="font-size:12px;"><span>Next </span><span style="font-size:15px;">»</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u306" class="ax_default button">
            <div id="u306_div" class=""></div>
            <div id="u306_text" class="text ">
              <p style="font-size:12px;"><span style="font-size:15px;">«</span><span> Prev</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u307" class="ax_default button">
            <div id="u307_div" class=""></div>
            <div id="u307_text" class="text ">
              <p><span>💬 Discuss</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u308" class="ax_default button">
            <div id="u308_div" class=""></div>
            <div id="u308_text" class="text ">
              <p><span>Test</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u309" class="ax_default button">
            <div id="u309_div" class=""></div>
            <div id="u309_text" class="text ">
              <p><span>Run</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u310" class="ax_default button" onclick="showSubquestionsOnClick()">
            <div id="u310_div" class=""></div>
            <div id="u310_text" class="text ">
              <p><span>☰ Subquestions</span></p>
            </div>
          </div>
        </div>

        <!-- Navigation Bar -->
        {% include "home/../global_components/navbar.html" %}
        <!-- Navigation Bar -->
        <div id="u311" style="display:none; visibility:hidden;"></div>
      </div>

      <!-- Subquestions panel (Group) -->
      <div id="u328" class="ax_default ax_default_hidden" data-label="Subquestions panel" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="535" data-height="718">

        <!-- panel (Rectangle) -->
        <div id="u329" class="ax_default box_1" data-label="panel">
          <div id="u329_div" class=""></div>
          <div id="u329_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u330" class="ax_default heading_1">
          <div id="u330_div" class=""></div>
          <div id="u330_text" class="text ">
            <p><span>SAT Solving</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u331" class="ax_default heading_1">
          <div id="u331_div" class=""></div>
          <div id="u331_text" class="text ">
            <p><span>Part I: Utilties</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u332" class="ax_default heading_1">
          <div id="u332_div" class=""></div>
          <div id="u332_text" class="text ">
            <p><span>Part II: Norm Forms</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u333" class="ax_default heading_3 selected" selectiongroup="Subquestions items">
          <div id="u333_div" class="selected"></div>
          <div id="u333_text" class="text ">
            <p><span>Question 1</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u334" class="ax_default heading_1">
          <div id="u334_div" class=""></div>
          <div id="u334_text" class="text ">
            <p><span>Part III: The DP Algorithms</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u335" class="ax_default heading_1" selectiongroup="Subquestions items">
          <div id="u335_div" class=""></div>
          <div id="u335_text" class="text ">
            <p><span>Part IV: Bonus</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u336" class="ax_default heading_3" selectiongroup="Subquestions items">
          <div id="u336_div" class=""></div>
          <div id="u336_text" class="text ">
            <p><span>Question 2</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u337" class="ax_default heading_3" selectiongroup="Subquestions items">
          <div id="u337_div" class=""></div>
          <div id="u337_text" class="text ">
            <p><span>Question 3</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u338" class="ax_default heading_3" selectiongroup="Subquestions items">
          <div id="u338_div" class=""></div>
          <div id="u338_text" class="text ">
            <p><span>Question 1</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u339" class="ax_default heading_3" selectiongroup="Subquestions items">
          <div id="u339_div" class=""></div>
          <div id="u339_text" class="text ">
            <p><span>Question 2</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u340" class="ax_default heading_3" selectiongroup="Subquestions items">
          <div id="u340_div" class=""></div>
          <div id="u340_text" class="text ">
            <p><span>Question 3</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u341" class="ax_default heading_3" selectiongroup="Subquestions items">
          <div id="u341_div" class=""></div>
          <div id="u341_text" class="text ">
            <p><span>Question 1</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u342" class="ax_default heading_3" selectiongroup="Subquestions items">
          <div id="u342_div" class=""></div>
          <div id="u342_text" class="text ">
            <p><span>Question 2</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Editor settings button (Rectangle) -->
    <div id="u351" class="ax_default paragraph" data-label="Editor settings button" title="Editor settings"
         onclick="editorSettingsButtonOnClick()">
      <div id="u351_div" class=""></div>
      <div id="u351_text" class="text ">
        <p><span>⚙️</span></p>
      </div>
    </div>

    <!-- Reset button (Rectangle) -->
    <div id="u352" class="ax_default paragraph" data-label="Reset button" title="Reset to default code definition">
      <div id="u352_div" class=""></div>
      <div id="u352_text" class="text ">
        <p><span>⮌</span></p>
      </div>
    </div>

    <!-- Editor setting panel (Group) -->
    <div id="u353" class="ax_default ax_default_hidden" data-label="Editor setting panel" style="display:none; visibility: hidden" data-left="566" data-top="222" data-width="405" data-height="271">
      <!-- Unnamed (Rectangle) -->
      <div id="u354" class="ax_default box_1">
        <div id="u354_div" class=""></div>
        <div id="u354_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u355" class="ax_default droplist">
        <div id="u355_div" class=""></div>
        <select id="u355_input" class="u355_input">
          <option class="u355_input_option" value="Vim">Vim</option>
          <option class="u355_input_option" value="Emacs">Emacs</option>
          <option class="u355_input_option" selected value="Sublime">Sublime</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u356" class="ax_default label">
        <div id="u356_div" class=""></div>
        <div id="u356_text" class="text ">
          <p><span>Key-binding</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u357" class="ax_default droplist">
        <div id="u357_div" class=""></div>
        <select id="u357_input" class="u357_input">
          <option class="u357_input_option" value="eclipse">eclipse</option>
          <option class="u357_input_option" selected value="dracula">dracula</option>
          <option class="u357_input_option" value="monokai">monokai</option>
          <option class="u357_input_option" value="the-matrix">the-matrix</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u358" class="ax_default label">
        <div id="u358_div" class=""></div>
        <div id="u358_text" class="text ">
          <p><span>Theme</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u359" class="ax_default droplist">
        <div id="u359_div" class=""></div>
        <select id="u359_input" class="u359_input">
          <option class="u359_input_option" value="12px">12px</option>
          <option class="u359_input_option" value="13px">13px</option>
          <option class="u359_input_option" value="14px">14px</option>
          <option class="u359_input_option" selected value="15px">15px</option>
          <option class="u359_input_option" value="16px">16px</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u360" class="ax_default label">
        <div id="u360_div" class=""></div>
        <div id="u360_text" class="text ">
          <p><span>Font size</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u361" class="ax_default heading_1">
        <div id="u361_div" class=""></div>
        <div id="u361_text" class="text ">
          <p><span>Editor Settings</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u362" class="ax_default button">
        <div id="u362_div" class=""></div>
        <div id="u362_text" class="text ">
          <p><span>Save</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u363" class="ax_default button" onclick="editorSettingsCancelButtonOnClick()">
        <div id="u363_div" class=""></div>
        <div id="u363_text" class="text ">
          <p><span>Cancel</span></p>
        </div>
      </div>
    </div>
    <script src={% static "resources/scripts/axure/ios.js" %}></script>
  </body>
</html>