<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Question Comment Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href={% static "resources/css/axure_rp_page.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "data/styles.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "files/question_comment_page/styles.css" %} type="text/css" rel="stylesheet"/>
    <script src={% static "resources/scripts/jquery-3.2.1.min.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.js" %}></script>
    <script src={% static "resources/scripts/axure/globals.js" %}></script>
    <script src={% static "resources/scripts/axutils.js" %}></script>
    <script src={% static "resources/scripts/axure/annotation.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.std.js" %}></script>
    <script src={% static "resources/scripts/axure/doc.js" %}></script>
    <script src={% static "resources/scripts/messagecenter.js" %}></script>
    <script src={% static "resources/scripts/axure/events.js" %}></script>
    <script src={% static "resources/scripts/axure/recording.js" %}></script>
    <script src={% static "resources/scripts/axure/action.js" %}></script>
    <script src={% static "resources/scripts/axure/expr.js" %}></script>
    <script src={% static "resources/scripts/axure/geometry.js" %}></script>
    <script src={% static "resources/scripts/axure/flyout.js" %}></script>
    <script src={% static "resources/scripts/axure/model.js" %}></script>
    <script src={% static "resources/scripts/axure/repeater.js" %}></script>
    <script src={% static "resources/scripts/axure/sto.js" %}></script>
    <script src={% static "resources/scripts/axure/utils.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/variables.js" %}></script>
    <script src={% static "resources/scripts/axure/drag.js" %}></script>
    <script src={% static "resources/scripts/axure/move.js" %}></script>
    <script src={% static "resources/scripts/axure/visibility.js" %}></script>
    <script src={% static "resources/scripts/axure/style.js" %}></script>
    <script src={% static "resources/scripts/axure/adaptive.js" %}></script>
    <script src={% static "resources/scripts/axure/tree.js" %}></script>
    <!-- <script src={% static "resources/scripts/axure/init.temp.js" %}></script> -->
    <script src={% static "resources/scripts/axure/legacy.js" %}></script>
    <script src={% static "resources/scripts/axure/viewer.js" %}></script>
    <script src={% static "resources/scripts/axure/math.js" %}></script>
    <script src={% static "resources/scripts/axure/jquery.nicescroll.min.js" %}></script>
    <script src={% static "data/document.js" %}></script>
    <script src={% static "files/question_comment_page/data.js" %}></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'resources/reload.html' %}"; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      {% include "home/../global_components/navbar.html" %}
      <div id="u490" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u507" class="ax_default box_2">
        <div id="u507_div" class=""></div>
        <div id="u507_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u508" class="ax_default box_3">
        <div id="u508_div" class=""></div>
        <div id="u508_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u509" class="ax_default" data-left="110" data-top="196" data-width="873" data-height="75">

        <!-- Unnamed (Rectangle) -->
        <div id="u510" class="ax_default box_1">
          <div id="u510_div" class=""></div>
          <div id="u510_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u511" class="ax_default heading_1">
          <div id="u511_div" class=""></div>
          <div id="u511_text" class="text ">
            <p><span>Best solution to Part IV</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u512" class="ax_default heading_1">
          <div id="u512_div" class=""></div>
          <div id="u512_text" class="text ">
            <p><span>▲ 31</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u513" class="ax_default heading_1">
          <div id="u513_div" class=""></div>
          <div id="u513_text" class="text ">
            <p><span>👁 132</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u514" class="ax_default heading_1">
          <div id="u514_div" class=""></div>
          <div id="u514_text" class="text ">
            <p><span>Published by John Smith</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u515" class="ax_default text_field">
        <div id="u515_div" class=""></div>
        <input id="u515_input" type="search" value="" class="u515_input"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u516" class="ax_default button">
        <img id="u516_img" class="img " src={% static "images/question_comment_page/u516.svg" %}/>
        <div id="u516_text" class="text ">
          <p><span>Search</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u517" class="ax_default button">
        <img id="u517_img" class="img " src={% static "images/question_comment_page/u517.svg" %}/>
        <div id="u517_text" class="text ">
          <p><span>+ New Comment</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u518" class="ax_default button selected" selectiongroup="Post order">
        <img id="u518_img" class="img " src={% static "images/index/u37.svg" %}/>
        <div id="u518_text" class="text ">
          <p><span>Trending</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u519" class="ax_default button" selectiongroup="Post order">
        <img id="u519_img" class="img " src={% static "images/forum_page/u469.svg" %}/>
        <div id="u519_text" class="text ">
          <p><span>Newest to oldest</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u520" class="ax_default button" selectiongroup="Post order">
        <img id="u520_img" class="img " src={% static "images/forum_page/u470.svg" %}/>
        <div id="u520_text" class="text ">
          <p><span>Most upvotes</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u521" class="ax_default heading_1">
        <div id="u521_div" class=""></div>
        <div id="u521_text" class="text ">
          <p><span>SAT Solving</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u522" class="ax_default" data-left="110" data-top="281" data-width="873" data-height="75">

        <!-- Unnamed (Rectangle) -->
        <div id="u523" class="ax_default box_1">
          <div id="u523_div" class=""></div>
          <div id="u523_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u524" class="ax_default heading_1">
          <div id="u524_div" class=""></div>
          <div id="u524_text" class="text ">
            <p><span>How to solve Part III question 3?</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u525" class="ax_default heading_1">
          <div id="u525_div" class=""></div>
          <div id="u525_text" class="text ">
            <p><span>▲ 13</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u526" class="ax_default heading_1">
          <div id="u526_div" class=""></div>
          <div id="u526_text" class="text ">
            <p><span>👁 51</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u527" class="ax_default heading_1">
          <div id="u527_div" class=""></div>
          <div id="u527_text" class="text ">
            <p><span>Published by John Doe</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u528" class="ax_default" data-left="110" data-top="366" data-width="873" data-height="75">

        <!-- Unnamed (Rectangle) -->
        <div id="u529" class="ax_default box_1">
          <div id="u529_div" class=""></div>
          <div id="u529_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u530" class="ax_default heading_1">
          <div id="u530_div" class=""></div>
          <div id="u530_text" class="text ">
            <p><span>DP solution to Part IV</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u531" class="ax_default heading_1">
          <div id="u531_div" class=""></div>
          <div id="u531_text" class="text ">
            <p><span>▲ 23</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u532" class="ax_default heading_1">
          <div id="u532_div" class=""></div>
          <div id="u532_text" class="text ">
            <p><span>👁 90</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u533" class="ax_default heading_1">
          <div id="u533_div" class=""></div>
          <div id="u533_text" class="text ">
            <p><span>Published by Johnny Joestar</span></p>
          </div>
        </div>
      </div>

      <!-- New post panel (Dynamic Panel) -->
      <div id="u534" class="ax_default ax_default_hidden" data-label="New post panel" style="display:none; visibility: hidden">
        <div id="u534_state0" class="panel_state" data-label="Default" style="">
          <div id="u534_state0_content" class="panel_state_content">

            <!-- New post group (Group) -->
            <div id="u535" class="ax_default" data-label="New post group" data-left="0" data-top="288" data-width="1536" data-height="394">

              <!-- Panel (Rectangle) -->
              <div id="u536" class="ax_default box_1" data-label="Panel">
                <div id="u536_div" class=""></div>
                <div id="u536_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u537" class="ax_default button">
                <div id="u537_div" class=""></div>
                <div id="u537_text" class="text ">
                  <p><span>⮝</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u538" class="ax_default button">
                <div id="u538_div" class=""></div>
                <div id="u538_text" class="text ">
                  <p><span>Close</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u539" class="ax_default button">
                <div id="u539_div" class=""></div>
                <div id="u539_text" class="text ">
                  <p><span>✉ Post</span></p>
                </div>
              </div>

              <!-- Post title field (Text Field) -->
              <div id="u540" class="ax_default text_field" data-label="Post title field">
                <div id="u540_div" class=""></div>
                <input id="u540_input" type="text" value="" class="u540_input"/>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u541" class="ax_default image">
                <img id="u541_img" class="img " src={% static "images/forum_page/u478.PNG" %}/>
                <div id="u541_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Area) -->
              <div id="u542" class="ax_default text_area">
                <div id="u542_div" class=""></div>
                <textarea id="u542_input" class="u542_input"></textarea>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u543" class="ax_default line">
                <img id="u543_img" class="img " src={% static "images/forum_page/u480.svg" %}/>
                <div id="u543_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u534_state1" class="panel_state" data-label="Full screen" style="visibility: hidden;">
          <div id="u534_state1_content" class="panel_state_content">

            <!-- New post group (Group) -->
            <div id="u544" class="ax_default" data-label="New post group" data-left="0" data-top="10" data-width="1536" data-height="672">

              <!-- Panel (Rectangle) -->
              <div id="u545" class="ax_default box_1" data-label="Panel">
                <div id="u545_div" class=""></div>
                <div id="u545_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u546" class="ax_default button">
                <div id="u546_div" class=""></div>
                <div id="u546_text" class="text ">
                  <p><span>⮟</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u547" class="ax_default button">
                <div id="u547_div" class=""></div>
                <div id="u547_text" class="text ">
                  <p><span>Close</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u548" class="ax_default button">
                <div id="u548_div" class=""></div>
                <div id="u548_text" class="text ">
                  <p><span>✉ Post</span></p>
                </div>
              </div>

              <!-- Post title field (Text Field) -->
              <div id="u549" class="ax_default text_field" data-label="Post title field">
                <div id="u549_div" class=""></div>
                <input id="u549_input" type="text" value="" class="u549_input"/>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u550" class="ax_default image">
                <img id="u550_img" class="img " src={% static "images/forum_page/u478.PNG" %}/>
                <div id="u550_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Text Area) -->
              <div id="u551" class="ax_default text_area">
                <div id="u551_div" class=""></div>
                <textarea id="u551_input" class="u551_input"></textarea>
              </div>

              <!-- Unnamed (Line) -->
              <div id="u552" class="ax_default line">
                <img id="u552_img" class="img " src={% static "images/forum_page/u480.svg" %}/>
                <div id="u552_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src={% static "resources/scripts/axure/ios.js" %}></script>
  </body>
</html>
