<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>User Info Page</title>
    <link rel="icon" href="{% static 'resources/favicon.ico' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href={% static "resources/css/axure_rp_page.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "data/styles.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "files/user_info_page/styles.css" %} type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src={% static "resources/scripts/jquery-3.2.1.min.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.js" %}></script>
    <script src={% static "resources/scripts/axure/globals.js" %}></script>
    <script src={% static "resources/scripts/axutils.js" %}></script>
    <script src={% static "resources/scripts/axure/annotation.js" %}></script>
    <script src={% static "resources/scripts/axure/axQuery.std.js" %}></script>
    <script src={% static "resources/scripts/axure/doc.js" %}></script>
    <script src={% static "resources/scripts/messagecenter.js" %}></script>
    <script src={% static "resources/scripts/axure/events.js" %}></script>
    <script src={% static "resources/scripts/axure/recording.js" %}></script>
    <script src={% static "resources/scripts/axure/action.js" %}></script>
    <script src={% static "resources/scripts/axure/expr.js" %}></script>
    <script src={% static "resources/scripts/axure/geometry.js" %}></script>
    <script src={% static "resources/scripts/axure/flyout.js" %}></script>
    <script src={% static "resources/scripts/axure/model.js" %}></script>
    <script src={% static "resources/scripts/axure/repeater.js" %}></script>
    <script src={% static "resources/scripts/axure/sto.js" %}></script>
    <script src={% static "resources/scripts/axure/utils.temp.js" %}></script>
    <script src={% static "resources/scripts/axure/variables.js" %}></script>
    <script src={% static "resources/scripts/axure/drag.js" %}></script>
    <script src={% static "resources/scripts/axure/move.js" %}></script>
    <script src={% static "resources/scripts/axure/visibility.js" %}></script>
    <script src={% static "resources/scripts/axure/style.js" %}></script>
    <script src={% static "resources/scripts/axure/adaptive.js" %}></script>
    <script src={% static "resources/scripts/axure/tree.js" %}></script>
    <!-- <script src={% static "resources/scripts/axure/init.temp.js" %}></script> -->
    <script src={% static "resources/scripts/axure/legacy.js" %}></script>
    <script src={% static "resources/scripts/axure/viewer.js" %}></script>
    <script src={% static "resources/scripts/axure/math.js" %}></script>
    <script src={% static "resources/scripts/axure/jquery.nicescroll.min.js" %}></script>
    <script src={% static "data/document.js" %}></script>
    <script src={% static "files/user_info_page/data.js" %}></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'resources/reload.html' %}"; };
    </script>
  </head>

  <body>
    <div id="base" class="">

      {% if user_agent.is_mobile == False %}
      {% include "home/../global_components/navbar.html" %}
      {% else %}
      {% include "home/../global_components/navbar_multidevice.html" %}
      {% endif %}
      <div id="u82" style="display:none; visibility:hidden;"></div>

      <!-- tabs implementation -->
      <div class="tab" data-label="Settings area">
        <button class="tablinks active" onclick="openTab(event, 'My Account')">🐵 My Account</button>
        <button class="tablinks" onclick="openTab(event, 'Posts')">📄 Forum Posts / Comments</button>
        <button class="tablinks" onclick="openTab(event, 'Question Comments')">Question Comments</button>
        <button class="tablinks" onclick="openTab(event, 'Activities')">🖊️ Activities</button>
        <button class="tablinks" onclick="openTab(event, 'Notifications')">🔔 Notifications</button>
      </div>

      <div id="My Account" class="tabcontent fade in active">
          <div id="u99_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u100" class="ax_default box_1">
              <div id="u100_div" class=""></div>
              <div id="u100_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u101" class="ax_default button">
              <div id="u101_div" class=""></div>
              <div id="u101_text" class="text ">
                <p><span>Save</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u102" class="ax_default label">
              <div id="u102_div" class=""></div>
              <div id="u102_text" class="text ">
                <p><span>Username</span></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u103" class="ax_default text_field">
              <div id="u103_div" class=""></div>
              <input id="u103_input" type="text" value="{{ current_user.username }}" class="u103_input"/>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u104" class="ax_default line">
              <img id="u104_img" class="img " src={% static "images/user_info_page/u104.svg" %}/>
              <div id="u104_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u105" class="ax_default label">
              <div id="u105_div" class=""></div>
              <div id="u105_text" class="text ">
                <p><span>Email</span></p>
              </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u106" class="ax_default text_field">
              <div id="u106_div" class=""></div>
              <input id="u106_input" type="text" value="{{ current_user.email }}" class="u106_input"/>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u107" class="ax_default line">
              <img id="u107_img" class="img " src={% static "images/user_info_page/u104.svg" %}/>
              <div id="u107_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u108" class="ax_default label">
              <div id="u108_div" class=""></div>
              <div id="u108_text" class="text ">
                <p><span>Password</span></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u109" class="ax_default line">
              <img id="u109_img" class="img " src={% static "images/user_info_page/u104.svg" %}/>
              <div id="u109_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>


            <!-- Unnamed (Rectangle) -->
            <button type="button" class="open-button" data-toggle="modal" data-target="#myModal">Change My Password</button>

            <div class="modal fade" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div>
                    <form method="post" action="{% url 'change_password' %}" class="form-container">
                      {% csrf_token %}
                      {{ form.as_p}}
<!--                      <input class="mt-3" type="submit" value="Change Password"/>-->
<!--                      <input type="hidden" name="next" value="{{ next }}"/>-->

<!--                      <label><b>your old password: </b></label>-->
<!--                      <textarea placeholder="Your old password" name="msg" required></textarea>-->
<!--                      <label><b>your new password: </b></label>-->
<!--                      <textarea placeholder="Your new password" name="msg" required></textarea>-->
<!--                      <label><b>confitm your new password: </b></label>-->
<!--                      <textarea placeholder="Confirm your new password" name="msg" required></textarea>-->
                      <button type="submit" class="btn">Change password</button>

                    </form>
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>


            <script>
              function openForm() {
                document.getElementById("myForm").style.display = "block";
              }
              function closeForm() {
                document.getElementById("myForm").style.display = "none";
              }
            </script>

            <!-- Unnamed (Rectangle) -->
            <div id="u111" class="ax_default heading_1">
              <div id="u111_div" class=""></div>
              <div id="u111_text" class="text ">
                <p><span>My Account</span></p>
              </div>
            </div>
          </div>

      </div>

      <div id="Posts" class="tabcontent fade ">
        <div id="" class="ax_default box_1 post_container ">
          <div id="post_comments_container" class="post_container_div ">

            <div id="" class="ax_default heading_1 u113">
              <div id="" class="u113_div"></div>
              <div id="" class="text u113_text">
                <p><span>My Forum Posts</span></p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div id="Question Comments" class="tabcontent fade ">
          <div id="u99_state1_content" class="panel_state_content">
            <!-- Unnamed (Rectangle) -->
            <div id="" class="ax_default box_1 post_container ">
              <div id="question_comments_container" class="post_container_div ">

                <div id="" class="ax_default heading_1 u113">
                  <div id="" class="u113_div"></div>
                  <div id="" class="text u113_text">
                    <p><span>My Question Comments</span></p>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </div>
      <div id="Activities" class="tabcontent fade ">
        <div id="u99_state2_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u129" class="ax_default box_1">
              <div id="u129_div" class=""></div>
              <div id="u129_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u130" class="ax_default heading_1">
              <div id="u130_div" class=""></div>
              <div id="u130_text" class="text ">
                <p><span>Recent Activities</span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u131" class="ax_default" data-left="49" data-top="95" data-width="505" data-height="42">

              <!-- Unnamed (Rectangle) -->
              <div id="u132" class="ax_default box_2">
                <div id="u132_div" class=""></div>
                <div id="u132_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u133" class="ax_default heading_1">
                <div id="u133_div" class=""></div>
                <div id="u133_text" class="text ">
                  <p><span>Started 'Haskell Sequences'&nbsp; </span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u134" class="ax_default heading_1">
                <div id="u134_div" class=""></div>
                <div id="u134_text" class="text ">
                  <p><span>05/25/2020</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u135" class="ax_default" data-left="49" data-top="139" data-width="505" data-height="42">

              <!-- Unnamed (Rectangle) -->
              <div id="u136" class="ax_default box_2">
                <div id="u136_div" class=""></div>
                <div id="u136_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u137" class="ax_default heading_1">
                <div id="u137_div" class=""></div>
                <div id="u137_text" class="text ">
                  <p><span>Completed 'Haskell LSystem'&nbsp; </span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u138" class="ax_default heading_1">
                <div id="u138_div" class=""></div>
                <div id="u138_text" class="text ">
                  <p><span>05/23/2020</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u139" class="ax_default" data-left="49" data-top="183" data-width="505" data-height="42">

              <!-- Unnamed (Rectangle) -->
              <div id="u140" class="ax_default box_2">
                <div id="u140_div" class=""></div>
                <div id="u140_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u141" class="ax_default heading_1">
                <div id="u141_div" class=""></div>
                <div id="u141_text" class="text ">
                  <p><span>Edited post 'Tricks to dynamic programming'&nbsp; </span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u142" class="ax_default heading_1">
                <div id="u142_div" class=""></div>
                <div id="u142_text" class="text ">
                  <p><span>05/21/2020</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u143" class="ax_default" data-left="49" data-top="227" data-width="505" data-height="42">

              <!-- Unnamed (Rectangle) -->
              <div id="u144" class="ax_default box_2">
                <div id="u144_div" class=""></div>
                <div id="u144_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u145" class="ax_default heading_1">
                <div id="u145_div" class=""></div>
                <div id="u145_text" class="text ">
                  <p><span>Published post 'Tricks to dynamic programming'&nbsp; </span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u146" class="ax_default heading_1">
                <div id="u146_div" class=""></div>
                <div id="u146_text" class="text ">
                  <p><span>05/20/2020</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u147" class="ax_default" data-left="49" data-top="271" data-width="505" data-height="42">

              <!-- Unnamed (Rectangle) -->
              <div id="u148" class="ax_default box_2">
                <div id="u148_div" class=""></div>
                <div id="u148_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u149" class="ax_default heading_1">
                <div id="u149_div" class=""></div>
                <div id="u149_text" class="text ">
                  <p><span>Started 'Java Turtle Interpreter'&nbsp; </span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u150" class="ax_default heading_1">
                <div id="u150_div" class=""></div>
                <div id="u150_text" class="text ">
                  <p><span>05/25/2020</span></p>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div id="Notifications" class="tabcontent fade ">
        <div id="u99_state3_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u151" class="ax_default box_1">
              <div id="u151_div" class=""></div>
              <div id="u151_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u152" class="ax_default" data-left="49" data-top="95" data-width="505" data-height="42">

              <!-- Unnamed (Rectangle) -->
              <div id="u153" class="ax_default box_2">
                <div id="u153_div" class=""></div>
                <div id="u153_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u154" class="ax_default heading_1">
                <div id="u154_div" class=""></div>
                <div id="u154_text" class="text ">
                  <p><span>You have completed 'Java Turtle Interpreter'!</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u155" class="ax_default heading_1">
                <div id="u155_div" class=""></div>
                <div id="u155_text" class="text ">
                  <p><span>05/25/2020</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u156" class="ax_default" data-left="49" data-top="139" data-width="505" data-height="42">

              <!-- Unnamed (Rectangle) -->
              <div id="u157" class="ax_default box_2">
                <div id="u157_div" class=""></div>
                <div id="u157_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u158" class="ax_default heading_1">
                <div id="u158_div" class=""></div>
                <div id="u158_text" class="text ">
                  <p><span>You have completed 'Haskell Constant Propagation'!</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u159" class="ax_default heading_1">
                <div id="u159_div" class=""></div>
                <div id="u159_text" class="text ">
                  <p><span>05/23/2020</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u160" class="ax_default heading_1">
              <div id="u160_div" class=""></div>
              <div id="u160_text" class="text ">
                <p><span>Recent Activities</span></p>
              </div>
            </div>
          </div>
      </div>
<!--   tabs implementation   -->

      <!-- Unnamed (Rectangle) -->
      <div id="u164" class="ax_default heading_1">
        <div id="u164_div" class=""></div>
        <div id="u164_text" class="text ">
          <p><span>Settings</span></p>
        </div>
      </div>

      <script>
        const DEFAULT_PANEL_START_TOP_POS = 95;
        /* Forum posts panel */
        let forumPostsContainer = document.getElementById("post_comments_container");
        {% for post in user_posts %}
            forumPostsContainer.appendChild(createPostPanel("{% url 'forum-detail' post.slug %}", {{ forloop.counter0 }},
                "{{ post.title }}", {{ post.upvotes }}, 0, false));
        {% endfor %}

        initialTopPos += {{ user_posts|length }} * (DEFAULT_POST_PANEL_HEIGHT + PANEL_PADDING) + 15;

        let forumCommentLabelHTML = [
            `<div id="" class="ax_default heading_1 u113" style="top:${initialTopPos}px">`,
              '<div id="" class="u113_div"></div>',
              '<div id="" class="text u113_text">',
                '<p><span>My Forum Comments</span></p>',
              '</div>',
            '</div>'
        ].join("\n");

        let tempLabel = document.createElement("div");
        tempLabel.innerHTML = forumCommentLabelHTML;
        forumPostsContainer.appendChild(tempLabel.firstChild);

        initialTopPos += DEFAULT_POST_PANEL_HEIGHT + PANEL_PADDING;

        {% for comment in  user_comments %}
            forumPostsContainer.appendChild(createPostPanel("{% url 'forum-detail' comment.post_slug %}", {{ forloop.counter0 }},
                "Comment on {{ comment.post_title }}", {{ comment.upvotes }}, 0, true));
        {% endfor %}

        /* Question comment panel */
        initialTopPos = DEFAULT_PANEL_START_TOP_POS;
        let questionCommentsContainer = document.getElementById("question_comments_container");
        {% for question_comment in question_comments %}
            questionCommentsContainer.appendChild(createPostPanel("comment_detail?id={{ question_comment.id }}",
                {{ forloop.counter0 }}, "{{ question_comment.title }}", {{ question_comment.upvotes }}, 0, false));
        {% endfor %}

        initialTopPos += {{ question_comments|length }} * (DEFAULT_POST_PANEL_HEIGHT + PANEL_PADDING) + 15;

        let questionReplyLabelHTML = [
            `<div id="" class="ax_default heading_1 u113" style="top:${initialTopPos}px">`,
              '<div id="" class="u113_div"></div>',
              '<div id="" class="text u113_text">',
                '<p><span>My Question Comment Replies</span></p>',
              '</div>',
            '</div>'
        ].join("\n");

        tempLabel = document.createElement("div");
        tempLabel.innerHTML = questionReplyLabelHTML;
        questionCommentsContainer.appendChild(tempLabel.firstChild);

        initialTopPos += DEFAULT_POST_PANEL_HEIGHT + PANEL_PADDING;

        {% for reply in question_comment_replies %}
            questionCommentsContainer.appendChild(createPostPanel("comment_detail?id={{ reply.comment_id }}",
                {{ forloop.counter0 }}, "Comment on {{ reply.comment_title }}", {{ reply.upvotes }}, 0, true));
        {% endfor %}

        function openTab(evt, tabName) {
          // clean the active class
          var tabs = ['My Account', 'Posts', 'Question Comments', 'Activities', 'Notifications'];
          var x;
          for (x of tabs) {
            if (document.getElementById(x).classList.contains('active')) {
              document.getElementById(x).classList.remove('active')
              document.getElementById(x).classList.remove('in')
            }
          }

          document.getElementById(tabName).classList.add('in')
          document.getElementById(tabName).classList.add('active')

          // Declare all variables
          var i, tabcontent, tablinks;

          // Get all elements with class="tabcontent" and hide them
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }

          // Get all elements with class="tablinks" and remove the class "active"
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }

          // Show the current tab, and add an "active" class to the link that opened the tab
          document.getElementById(tabName).style.display = "block";
          evt.currentTarget.className += " active";
        }
      </script>

    </div>
    <script src={% static "resources/scripts/axure/ios.js" %}></script>
  </body>
</html>
