body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1536px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u554 {
  position:fixed;
  left:0px;
  top:0px;
}
#u554_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1536px;
  height:60px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u554_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:60px;
  display:flex;
}
#u555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:12px;
  width:230px;
  height:35px;
  display:flex;
}
#u556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u556_img.mouseOver {
}
#u556.mouseOver {
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:12px;
  width:123px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u557_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u557.mouseOver {
}
#u557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:12px;
  width:142px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u558_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u558.mouseOver {
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:12px;
  width:97px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u559_img.mouseOver {
}
#u559.mouseOver {
}
#u559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:12px;
  width:142px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u560_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u560.mouseOver {
}
#u560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u561 {
  position:absolute;
  left:943px;
  top:12px;
}
#u561_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u561_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u562_img.mouseOver {
}
#u562.mouseOver {
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u561_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u561_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:7px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:57px;
  height:7px;
  display:flex;
  color:#02A7F0;
}
#u563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u564_img.mouseOver {
}
#u564.mouseOver {
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:60px;
  width:300px;
  height:176px;
  display:flex;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:60px;
  width:300px;
  height:72px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u567_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u567.mouseOver {
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:132px;
  width:300px;
  height:73px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u568_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u568.mouseOver {
}
#u568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:205px;
  width:300px;
  height:31px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u569.mouseOver {
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#7F7F7F;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:85px;
  width:93px;
  height:40px;
  display:flex;
  font-size:15px;
  color:#7F7F7F;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u570:hover {
  cursor:pointer;
  background-color:rgba(242, 242, 242, 1);
}
#u570.mouseOver {
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:85px;
  width:600px;
  height:36px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#title_field {
  width:600px;
  height:25px;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1000;
}
#u571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:157px;
  width:150px;
  height:18px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:157px;
  width:250px;
  height:18px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:157px;
  width:60px;
  height:18px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
#u574 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:2px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:136px;
  width:1010px;
  height:1px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D7D7D7;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:146px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576:hover {
  cursor:pointer;
  background-color:rgba(242, 242, 242, 1);
}
#u576.mouseOver {
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:224px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577:hover {
  cursor:pointer;
  background-color:rgba(242, 242, 242, 1);
}
#u577.mouseOver {
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:195px;
  width:53px;
  height:19px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:361px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#post_content_area {
  top: 5px;
  width:670px;
  height:133px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  resize:none;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1000;
  position: absolute;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:185px;
  width:670px;
  height:361px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:2px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:563px;
  width:1010px;
  height:1px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D7D7D7;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:590px;
  width:670px;
  height:164px;
  display:flex;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u582_input {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u582_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582.disabled {
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:723px;
  width:71px;
  height:31px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_img.mouseOver {
}
#u583.mouseOver {
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:157px;
  width:60px;
  height:19px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.796078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:785px;
  width:670px;
  height:103px;
  display:flex;
}
#u586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:798px;
  width:123px;
  height:15px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
}
#u587 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:819px;
  width:630px;
  height:30px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u588 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:859px;
  width:14px;
  height:18px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
#u589 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u589_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:859px;
  width:14px;
  height:18px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
#u590 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:859px;
  width:30px;
  height:18px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u591 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:859px;
  width:61px;
  height:20px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:858px;
  width:120px;
  height:20px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u593 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.796078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:908px;
  width:670px;
  height:103px;
  display:flex;
}
#u595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:921px;
  width:123px;
  height:15px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
}
#u596 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:942px;
  width:630px;
  height:30px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:982px;
  width:14px;
  height:18px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
#u598 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:982px;
  width:14px;
  height:18px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
#u599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u599_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:982px;
  width:30px;
  height:18px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u600 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:982px;
  width:61px;
  height:20px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:981px;
  width:120px;
  height:20px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u602 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:97px;
  width:52px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u639 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u639:hover {
  border-width:0px;
  cursor:pointer;
  position:absolute;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#7F7F7F;
}
#u639.mouseOver {
}
#u639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:97px;
  width:72px;
  height:20px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u640_div:hover {
  border-width:0px;
  position:absolute;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  cursor:pointer;
  color:#7F7F7F;
}
#u640.mouseOver {
}
#u640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u618_input {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  padding:0.7em;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u618_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  display:flex;
}
#u618 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u618_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:133px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u618.disabled {
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:133px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u619_img.mouseOver {
}
#u619:hover {
  cursor:pointer;
  background:#F2F2F2;
}
#u619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
div.u621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
div.u622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.796078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
div.u622 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:785px;
  width:670px;
  height:103px;
  display:flex;
}
div.u622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
div.u622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
div.u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
}
div.u623 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:123px;
  height:15px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
}
div.u623 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
div.u623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
div.u624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
div.u624 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:34px;
  width:630px;
  height:30px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
div.u624 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
div.u624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
div.u625 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:74px;
  width:14px;
  height:18px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
div.u625 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
div.u625_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
div.u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
div.u626 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:74px;
  width:14px;
  height:18px;
  display:flex;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7F7F7F;
  text-align:center;
}
div.u626 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
div.u626_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
div.u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
div.u627 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:74px;
  width:30px;
  height:18px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
div.u627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
div.u627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
div.u628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
div.u628 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:74px;
  width:61px;
  height:20px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
div.u628 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
div.u628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
div.u629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
div.u629 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:858px;
  width:120px;
  height:20px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:200;
  font-style:normal;
}
div.u629 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
div.u629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.time_label_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
}
div.time_label {
  border-width:0px;
  position:absolute;
  left:180px;
  top:74px;
  width:250px;
  height:15px;
  display:flex;
  font-family:'SF Pro Text Thin', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
}
div.time_label .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
div.time_label_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u622:last-child {
  padding-bottom: 20px;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:133px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u641_img.mouseOver {
}
#u641:hover {
  cursor:pointer;
  background-color: #F2F2F2;
}
#u641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#post_content_preview_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#post_content_preview {
  border-width:0px;
  position:absolute;
  left:758px;
  top:157px;
  width:113px;
  height:25px;
  display:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
}
#post_content_preview .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#post_content_preview_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#post_content_preview:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: lightgray;
}
#save_post_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#save_post {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:97px;
  width:72px;
  height:20px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  display:none;
}
#save_post .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#save_post:hover {
  border-width:0px;
  position:absolute;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  cursor:pointer;
  color:#7F7F7F;
}
#save_post_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
