<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link href={% static "resources/css/axure_rp_page.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "data/styles.css" %} type="text/css" rel="stylesheet"/>
    <link href={% static "files/new_post_panel/styles.css" %} type="text/css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script type="text/javascript" src={% static "files/new_post_panel/data.js" %}></script>
    <title>Title</title>
</head>
<body>
<div id="u471" class="ax_default ax_default_hidden" data-label="New post panel" style="display:none; visibility: hidden">
    <div id="u471_state0" class="panel_state" data-label="Default" style="">
      <div id="u471_state0_content" class="panel_state_content">

          <!-- New post group (Group) -->
      <div id="u472" class="ax_default" data-label="New post group" data-left="0" data-top="288"
          data-width="1536" data-height="394">

        <!-- Panel (Rectangle) -->
        <div id="u473" class="ax_default box_1" data-label="Panel">
          <div id="u473_div" class=""></div>
          <div id="u473_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u474" class="ax_default button" onclick="expandNewPostButtonOnClick()">
          <p><span>⮝</span></p>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u475" class="ax_default button" onclick="closeButtonOnClick()">
          <div id="u475_div" class=""></div>
          <div id="u475_text" class="text ">
            <p><span>Close</span></p>
          </div>
        </div>
        <!-- PreviewButton (Rectangle) -->
        <div id="u516" class="ax_default button" data-label="PreviewButton" onclick="togglePreview()">
          <div id="u516_div" class=""></div>
          <div id="u516_text" class="text ">
            <p><span>Preview</span></p>
          </div>
        </div>
      <form action="" method="POST">
          {% csrf_token %}
        <!-- Post title field (Text Field) -->
        <div id="u477" class="ax_default text_field" data-label="Post title field">
          <div id="u477_div" class=""></div>
          <input id="u477_input" name="post_title" type="text" value="" class="u477_input"/>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u478" class="ax_default image">
          <img id="u478_img" class="img " src={% static "images/forum_page/u478.PNG" %}/>
          <div id="u478_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Text Area) -->
        <div id="u479" class="ax_default text_area">
          <div id="u479_div" class=""></div>
          <textarea id="u479_input" name="post_content" class="u479_input" style="padding:1em;"></textarea>
        </div>

        <!-- Unnamed (Line) -->
        <div id="u480" class="ax_default line">
          <img id="u480_img" class="img " src={% static "images/forum_page/u480.svg" %}/>
          <div id="u480_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

          <!-- Unnamed (Rectangle) -->
        <div id="u476" class="ax_default button">
          <div id="u476_text" class="text " type="submit"></div>
          <input id="u476_div" class="" type="submit" value="✉ Post" onsubmit="window.location.reload()"/>
        </div>
      </form>
      </div>
      </div>
    </div>
</div>
</body>
</html>