body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1536px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:128px;
  width:415px;
  height:148px;
  display:flex;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:128px;
  width:949px;
  height:148px;
  display:flex;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u214 {
  position:fixed;
  left:0px;
  top:0px;
}
#u214_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1536px;
  height:60px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:60px;
  display:flex;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:12px;
  width:230px;
  height:35px;
  display:flex;
}
#u216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u216_img.mouseOver {
}
#u216.mouseOver {
}
#u216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:12px;
  width:123px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u217_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u217.mouseOver {
}
#u217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:12px;
  width:142px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u218_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u218.mouseOver {
}
#u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:12px;
  width:97px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u219_img.mouseOver {
}
#u219.mouseOver {
}
#u219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:12px;
  width:142px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u220_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u220.mouseOver {
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u221 {
  position:absolute;
  left:943px;
  top:12px;
}
#u221_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u221_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u222_img.mouseOver {
}
#u222.mouseOver {
}
#u222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u221_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u221_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:7px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:57px;
  height:7px;
  display:flex;
  color:#02A7F0;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u224_img.mouseOver {
}
#u224.mouseOver {
}
#u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:60px;
  width:300px;
  height:176px;
  display:flex;
}
#u226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:60px;
  width:300px;
  height:72px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u227_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u227.mouseOver {
}
#u227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:132px;
  width:300px;
  height:73px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u228_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u228.mouseOver {
}
#u228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:205px;
  width:300px;
  height:31px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u229_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u229.mouseOver {
}
#u229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u230_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:191px;
  width:200px;
  height:22px;
  display:flex;
}
#u230 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u230_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230.disabled {
}
.u230_input_option {
}
#u231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u231_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:191px;
  width:200px;
  height:22px;
  display:flex;
}
#u231 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231.disabled {
}
.u231_input_option {
}
#u232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u232_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:148px;
  width:391px;
  height:25px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u232_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u232.disabled {
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:25px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:87px;
  width:212px;
  height:30px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:25px;
}
#u233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u233_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:194px;
  width:65px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u234 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u234_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:194px;
  width:60px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u235 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u235_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:236px;
  width:59px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u236_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u237_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:233px;
  width:200px;
  height:22px;
  display:flex;
}
#u237 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237.disabled {
}
.u237_input_option {
}
#u238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:435px;
  padding:3px 2px 3px 2px;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u238_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:435px;
  padding:3px 2px 3px 2px;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:435px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:301px;
  width:949px;
  height:435px;
  display:flex;
}
#u238 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:532px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238.disabled {
}
.u238_input_option {
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u239_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:233px;
  width:200px;
  height:22px;
  display:flex;
}
#u239 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u239_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239.disabled {
}
.u239_input_option {
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:236px;
  width:32px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u241_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:191px;
  width:200px;
  height:22px;
  display:flex;
}
#u241 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241.disabled {
}
.u241_input_option {
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:194px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:26px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:148px;
  width:170px;
  height:26px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u243_img.mouseOver {
}
#u243:hover {
  cursor:pointer;
  background-color:#81D3F8;
}
#u243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:26px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:148px;
  width:170px;
  height:26px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u244_img.mouseOver {
}
#u244:hover {
  cursor:pointer;
  background-color:#81D3F8;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:632px;
  width:415px;
  height:55px;
  display:flex;
}
#u245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:301px;
  width:415px;
  height:316px;
  display:flex;
}
#u246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:39px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0.501960784313725);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:697px;
  width:415px;
  height:39px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u247:hover {
  cursor:pointer;
  background-color:rgba(129, 211, 248, 0.705882352941177);
}
#u247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u247_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:39px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.705882352941177);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u247.mouseOver {
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:30px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:319px;
  width:361px;
  height:36px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  overflow: hidden;
}
#u248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u248_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:156px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:justify;
  text-justify:inter-word;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#333333;
  text-align:justify;
  text-justify:inter-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:381px;
  width:361px;
  height:156px;
  display:flex;
  font-size:12px;
  color:#333333;
  text-align:justify;
  text-justify:inter-word;
}
#u249 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-style:normal;
  font-size:15px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:570px;
  width:86px;
  height:18px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-style:normal;
  font-size:15px;
}
#u250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:643px;
  width:18px;
  height:17px;
  display:flex;
}
#u251:hover {
  cursor:pointer;
  background-color: lightgrey;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u252:hover {
  cursor:pointer;
  background-color: lightgrey;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:660px;
  width:18px;
  height:20px;
  display:flex;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:652px;
  width:19px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
}
#u253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:643px;
  width:37px;
  height:37px;
  display:flex;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:1342px;
  top:559px;
  width:124px;
  height:40px;
  display:flex;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:570px;
  width:85px;
  height:18px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
}
#u256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:653px;
  width:27px;
  height:18px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
}
#u257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:95px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:140px;
  width:177px;
  height:95px;
  display:flex;
}
#u258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:244px;
  width:76px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#02A7F0;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:244px;
  width:85px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#02A7F0;
}
#u260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#81D3F8;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:244px;
  width:104px;
  height:16px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#81D3F8;
}
#u261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:140px;
  width:87px;
  height:25px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:39px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:747px;
  width:415px;
  height:39px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:39px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u263.mouseOver {
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:39px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:87px;
  width:415px;
  height:39px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:39px;
  background:inherit;
  background-color:rgba(245, 154, 35, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u264.mouseOver {
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#year_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#year_label {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:351px;
  width:74px;
  height:20px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
}
#year_label .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#year_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#overall_progress {
  height: 95px;
  position: absolute;
  width: 200px;
  margin: 0px auto;
  left: 1197px;
  top: 140px;
}