html, body {
    height: 90%;
}
#u12 {
  position:fixed;
  left:0px;
  top:0px;
  z-index:1000;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1536px;
  height:60px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:50px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:6px;
  width:230px;
  height:35px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:7px;
  width:123px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15:hover {
  color:rgba(121, 121, 121, 1);
}
#u15.mouseOver {
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:7px;
  width:142px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16:hover {
  color:rgba(121, 121, 121, 1);
}
#u16.mouseOver {
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:7px;
  width:97px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17:hover {
  color:rgba(121, 121, 121, 1);
}
#u17.mouseOver {
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:7px;
  width:142px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18:hover {
  color:rgba(121, 121, 121, 1);
}
#u18.mouseOver {
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19 {
  position:absolute;
  left:943px;
  top:7px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20:hover {
  cursor:pointer;
}
#u20.mouseOver {
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:57px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u19_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:7px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:57px;
  height:7px;
  display:flex;
  color:#02A7F0;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  -webkit-animation-name: subquestion_animation;
  -webkit-animation-duration: 0.4s;
  animation-name: subquestion_animation;
  animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes subquestion_animation {
  from {top:0px; opacity:0}
  to {bottom:100px; opacity:1}
}
@keyframes subquestion_animation {
  from {top:0px; opacity:0}
  to {bottom:100px; opacity:1}
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:50px;
  width:300px;
  height:176px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:50px;
  width:300px;
  height:72px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u25.mouseOver {
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:122px;
  width:300px;
  height:73px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
}
#u26.mouseOver {
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:195px;
  width:300px;
  height:31px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#027DB4;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27:hover {
  color:#81D3F8;
}
#u27.mouseOver {
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}