#u471 {
  position:fixed;
  left:0px;
  top:60px;
  width:1536px;
  height:682px;
  visibility:hidden;
  z-score:1500;
}
#u471_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:682px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u471_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:359px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:-5px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px -5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:323px;
  width:1536px;
  height:359px;
  display:flex;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:-5px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:288px;
  width:80px !important;
  height:35px;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:-5px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px -5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u474:hover {
  cursor:pointer;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:335px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u475:hover {
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  background-color:rgba(242, 242, 242, 1);
  cursor:pointer;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:335px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_div:hover {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SF Pro Display Bold', 'SF Pro Display', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u476.mouseOver {
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u477_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:343px;
  width:484px;
  height:25px;
  display:flex;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u477.disabled {
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:38px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:382px;
  width:357px;
  height:38px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:224px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u479_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:224px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:419px;
  width:1217px;
  height:224px;
  display:flex;
}
#u479 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:224px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u479.disabled {
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:2px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:382px;
  width:484px;
  height:1px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:343px;
  width:113px;
  height:25px;
  display:flex;
  font-family:'SF Pro Text Light', 'SF Pro Text', sans-serif;
}
#u516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u516:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: lightgray;
}