<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post_Detail</title>
</head>
<body>
{% load humanize %}

{% block title %} {{object.title}} {% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>{{object.title}}</h1>
  {% if request.user == object.user %}
    <!--  only can edit when the browsing user is the one who created the post  -->
  <a href="{% url 'forum-edit' object.id %}">Edit</a>

    <form method="post" action="{% url 'forum-delete' object.id %}">
    {% csrf_token %} <input type="submit" value="Delete">
    </form>
  {% endif %}
  <p style="font-size: 20px;">{{ object.desc }}</p>
  - <span><i>{{object.created_at | naturaltime}}</i></span>
</div>
{% endblock%}

</body>
</html>